@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900);
.column {
  float: left;
  margin-top: 0;
}

.left {
  width: 70%;
}

.right {
  width: 30%;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


body { background-color: #0096D6; }



body {
  font-family:'Lato', sans-serif !important;
  font-size: 7pt !important;
  font-weight: 300 !important;
}

.container-fluid {
  padding-right: 0px !important;
  padding-left: 0px !important;
}
#myPageContent, section {
  height:100% !important;
}


/* Slider */
#textSlider.row {
  transform: translate(-50%, -50%);
  width: 100% !important;
}
#textSlider div {
  color: #000;
  font-family: 'Lato', sans-serif;
  text-transform: lowercase;
}

.iamCol {
  text-align: left;
  font-size:10pt;
  width: 100%;
  height: 100%;
}
.iamCol div:nth-child(2) { margin-top: -20pt !important; }
.slideCol {
  text-align: left;
  font-size:200%;
  display: block;
  white-space: nowrap;
  width: 100%;
  height: 100%;
}
.slideCol div { margin: 0px !important; }

.scroller {
  height: 100pt;
  line-height: 100pt;
  overflow: hidden;
  white-space: normal;
}
.scroller .inner { animation: 15s normal infinite running scroll; }
@keyframes scroll {
  0%  	{margin-top: 0px;}
  15% 	{margin-top: 0px;}

  25%  {margin-top: -100pt;}
  40%  {margin-top: -100pt;}

  50%  {margin-top: -200pt;}
  65%  {margin-top: -200pt;}

  75%  {margin-top: -300pt;}
  90%  {margin-top: -300pt;}

  100% {margin-top: 0px;}
}



.carousel-indicators .active {
  background-color: #2980b9;
}

.carousel-inner img {
  width: 100%;
  max-height: 460px
}

.carousel-control {
  width: 0;
}

.carousel-control.left,
.carousel-control.right {
  opacity: 1;
  filter: alpha(opacity=100);
  background-image: none;
  background-repeat: no-repeat;
  text-shadow: none;
}

.carousel-control.left span {
  padding: 15px;
}

.carousel-control.right span {
  padding: 15px;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next {
  position: absolute;
  top: 45%;
  z-index: 5;
  display: inline-block;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
  left: 0;
}

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
  right: 0;
}

.carousel-control.left span,
.carousel-control.right span {
  background-color: #000;
}

.carousel-control.left span:hover,
.carousel-control.right span:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}

/* Carousel Header Styles */
.header-text {
  position: absolute;
  top: 20%;
  left: 1.8%;
  right: auto;
  width: 96.66666666666666%;
  color: #000;
}

.header-text h2 {
  font-size: 40px;
}

.header-text h2 span {
  background-color: #2980b9;
  padding: 10px;
}

.header-text h3 span {
  background-color: #000;
  padding: 15px;
}

.btn-min-block {
  min-width: 170px;
  line-height: 26px;
}

.btn-theme {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  margin-right: 15px;
}

.btn-theme:hover {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
