<div class="row" style="margin-top: 0; padding-top: 0">
<div class="flexslider column left" style="margin-bottom: 0px;right: 0px;left: 0px; margin-top: 0; padding-top: 0px">
  <ul class="slides" style="width: 100%">
    <li style="background-image: url(../../../assets/img/sl3.png)" class="overlay">
      <div class="">
        <div class="row">
          <div class="" style="width: 100%;margin: auto; position: absolute; bottom: 10%">
            <div class="probootstrap-slider-text text-center">
              <h1 class="probootstrap-heading probootstrap-animate" style="color: #fff; margin: auto">Métiers de l'Automobile</h1>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li style="background-image: url(../../../assets/img/sl1.jpg)" class="overlay">
      <div class="">
        <div class="row">
          <div class="" style="width: 100%;margin: auto; position: absolute; bottom: 10%">
            <div class="probootstrap-slider-text text-center">
              <h1 class="probootstrap-heading probootstrap-animate text-center" style="color: #fff">Métiers des TICs</h1>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="row column right" style="margin-left: 5px">
  <div class="column" style="width: 100%; height: 140px">
    <img src="../../../assets/img/appel_candidature.jpg" alt="" style="width: 100%">
  </div>
  <div class="column" style="background-image: linear-gradient(to top, #f5f5f5, white);width: 100%">
        <!-- Carousel -->
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <!-- Wrapper for slides -->
          <div class="carousel-inner">
            <div class="item active" style="background: transparent; height: 130px">
              <!-- Static Header -->
              <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                  <h3>
                  Appels à candidature <i class="glyphicon glyphicon-hand-right"></i>
                  </h3>
                </div>
              </div><!-- /header-text -->
            </div>
            <div *ngFor="let a of appelsDoffres" class="item" style="background: transparent; height: 130px">
                  <!-- Static Header -->
              <div class="header-text hidden-xs">
                <div class="col-md-12 text-center">
                  <a href="appel/{{a?.id}}"><h3>{{a?.titre}}</h3></a>
                </div>
              </div><!-- /header-text -->
            </div>
          </div>
          <!-- Controls -->
        </div><!-- /carousel -->
  </div>
  <div class="text-center"><a href="postuler"><button style="border: 3px solid #b3b2b2; border-radius: 15px 15px 15px 15px; background-color: lavender">Postuler</button></a></div>
</div>
</div>
