<app-header-ecosystemes></app-header-ecosystemes>
<div class="container">
  <div  class="col-lg-8 col-md-8">
    <div id="titre" class="jumbotron jumbotron-fluid jumbotron-cool" style="margin-bottom: 2px">
      <h2><strong>Partenariat entre {{partenaire?.nom}} & l' ISEP</strong></h2>
      <div class="row">
        <div class="col-lg-4 col-md-4"><img class="card-img-top img-responsive" src="{{partenaire?.media?.url}}" alt="Card image cap" style="height: 200px"></div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="jumbotron jumbotron-cool">
          <h3><strong>Descriptif partenariat</strong></h3>
          <p id="text" style="text-align: justify; font-family: 'Comic Sans MS'"></p>
        </div>
      </div>
    </div>
    <section>
      <div class="container">
        <h2 *ngIf="articles.length > 0">ACTIVITES AVEC LE PARTENAIRE</h2>
        <div class="row">
          <div class="card-group">
            <ng-container *ngFor="let a of articles | slice:0:4 ; let i=index ">
              <a  href="home/ecosystemes/partenaires/showpartenaire/{{a?.id}}" style="text-decoration: none">
                <div class="card col-lg-3 col-md-3">
                  <img class="card-img-top img-responsive" src="{{a?.mediaArticles[0]?.pk?.media?.url}}" alt="Card image cap" style="max-height: 150px;max-width: 150px">
                  <div class="card-body">
                    <h5 class="card-title">{{a?.titre}}</h5>
                    <p class="card-text"><small class="text-muted"> <span><i class="icon icon-calendar"></i>{{a?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</span></small></p>
                  </div>
                </div>
              </a>
            </ng-container>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-md-4 col-lg-4" >
    <div class="list-group" id="list-tab" role="tablist" style="background-color: #5e5e5e; overflow: scroll; height: 500px" data-toggle="">
      <a class="list-group-item list-group-item-action active" data-toggle="list"
         href="news" role="tab" aria-controls="home" style="background-color: #0b0b0b;color: whitesmoke">
        Les Partenaires de L'ISEP</a>
      <ng-container *ngFor="let p of partenaires | slice:0:10 ; let i=index ">
        <a class="list-group-item list-group-item-action" data-toggle="list" href="home/ecosystemes/partenaires/showpartenaire/{{p?.id}}"
           role="tab" aria-controls="profile"><img src="{{p?.media?.url}}" style="max-width: 50px; max-height: 50px" class="img-circle img-responsive">  {{p?.nom}}</a>
      </ng-container>
    </div>
  </div>
</div>
<app-logos-partenaire></app-logos-partenaire>








