<div style="line-height: 0.5">
  <p class="text-center" style="margin: 6px; font-size: 8px"><strong>REPUBLIQUE DU SENEGAL</strong></p>
<img src="../../assets/img/galsen.png" alt="" class="img-responsive" style="width: 30px; margin: auto">
  <p class="text-center" style="margin: 6px; font-size: 10px"><strong> Un Peuple - Un But - Une Foi</strong></p>
  <h6 class="text-center" style="margin: 0px;"><strong>MINISTERE DE L'ENSEIGNMENT SUPERIEUR, DE LA RECHERCHE ET DE L'INNOVATION</strong></h6>
</div>
