<!--section titre-
<section style="height: 200px;">
  <div style="padding-top: 0px;position: center">
    <div class="header-text-slide">
      <div class="item-1-tx"><p class="glow firstset">Organigramme ISEP DD</p></div>
    </div>
  </div>
</section>

<!--Mot du directeur--

<div class="container" xmlns="http://www.w3.org/1999/html">
  <div class="col-lg-8" style="font-family: Georgia, serif">
    <div class="bg-cool" style="height: 75px; text-align: left;font-size: medium; padding-top: 25px;
     margin-top: 0px; padding-left: 12px">
      <h4><a href="accueil" style="color: black">Home</a> / A propos / Organigramme</h4>
    </div>
    <div class="jumbotron jumbotron-cool">
      <h2 style="text-align: center"><strong>Organigramme ISEP</strong></h2>
      <p>
      <h3 style="text-align: left">
        <strong>L’Institut Supérieur d’Enseignement Professionnel (ISEP) de Diamniadio, est dédié aux
          métiers de l’automobile et aux Technologies de l’Information et de la Communication (TIC).
        </strong>
      </h3>
    </div>
    <div id="titre">
      <h2>La bourse Ghislaine Dupont-Claude Verlon 2017 décernée à deux Sénégalais</h2>
    </div>
    <br>
    <br>
    <div class="card">
      <img class="card-img-top img-responsive" src="../../../assets/img/isep.PNG" alt="Card image cap">
      <div class="card-body">
        <BR><BR><br>
        <p>
        Cécile Mégie, Directrice de RFI (g), Apolline Verlon, fille de Claude Verlon,
        aux côtés des lauréats Arona Diouf et Nicole Diedhiou, Mme Poinsot, mère de Ghislaine Dupont,
        l'Ambassadeur de France Christophe Bigot, Marie-Christine Saragosse, PDG de FMM (d), à Dakar
        </p>
        <p>
        A Dakar, la quatrième bourse Ghislaine Dupont et Claude Verlon vient d’être attribuée
        à un journaliste ainsi qu’à une technicienne de reportage radio, tous deux Sénégalais :
        Arona Diouf et Nicole Diedhiou. Le prix a été remis des mains des gagnants de l’édition 2016
        de la bourse RFI. Les deux nouveaux lauréats bénéficieront mi-février 2018 d'une formation à Paris,
        puis tous deux effectueront un stage au sein de notre rédaction.
        </p>
        <p>
          Selectionnés 2018-2019 ISEP-THIES Il est porté à la connaissance des apprenants de
          la septième promotion, sélectionnés sur la liste principale et autorisés à s'ins...
        </p>
        <br><br><br>
      </div>
    </div>
  </div>
    <app-contain-brother2></app-contain-brother2>
  <!--
  <div class="col-md-4">
    <div class="list-group" id="list-tab" role="tablist" style="background-color: #5e5e5e">
      <a class="list-group-item list-group-item-action active" data-toggle="list"
         href="#list-home" role="tab" aria-controls="home" style="background-color: #0b0b0b;color: whitesmoke">
        Une news à la une</a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-profile" role="tab" aria-controls="profile">Une autre news à la une</a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-messages" role="tab" aria-controls="messages">Encore une </a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-settings" role="tab" aria-controls="settings">Une autre</a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-home" role="tab" aria-controls="home">
        Une autre
      </a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-profile" role="tab" aria-controls="profile">Une autre</a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-messages" role="tab" aria-controls="messages">Une autre </a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-settings" role="tab" aria-controls="settings">Une autre</a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-home" role="tab" aria-controls="home">
        SUne autre</a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-profile" role="tab" aria-controls="profile">Une autre</a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-messages" role="tab" aria-controls="messages">Une autre </a>
      <a class="list-group-item list-group-item-action" data-toggle="list"
         href="#list-settings" role="tab" aria-controls="settings">CUne autre</a>
    </div>
    --
</div>
-->
<head>
 <!-- <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}

    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>John's Blog</h4>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Home</a></li>
        <li><a href="#section2">Friends</a></li>
        <li><a href="#section3">Family</a></li>
        <li><a href="#section3">Photos</a></li>
      </ul><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Blog..">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
    </div>

    <div class="col-sm-9">
      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>I Love Food</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
      <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><br>

      <h4><small>RECENT POSTS</small></h4>
      <hr>
      <h2>Officially Blogging</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
      <h5><span class="label label-success">Lorem</span></h5><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <hr>

      <h4>Leave a Comment:</h4>
      <form role="form">
        <div class="form-group">
          <textarea class="form-control" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <br><br>

      <p><span class="badge">2</span> Comments:</p><br>

      <div class="row">
        <div class="col-sm-2 text-center">
          <img src="bandmember.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>Anja <small>Sep 29, 2015, 9:12 PM</small></h4>
          <p>Keep up the GREAT work! I am cheering for you!! Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <br>
        </div>
        <div class="col-sm-2 text-center">
          <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
        </div>
        <div class="col-sm-10">
          <h4>John Row <small>Sep 25, 2015, 8:25 PM</small></h4>
          <p>I am so happy for you man! Finally. I am looking forward to read about your trendy life. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <br>
          <p><span class="badge">1</span> Comment:</p><br>
          <div class="row">
            <div class="col-sm-2 text-center">
              <img src="bird.jpg" class="img-circle" height="65" width="65" alt="Avatar">
            </div>
            <div class="col-xs-10">
              <h4>Nested Bro <small>Sep 25, 2015, 8:28 PM</small></h4>
              <p>Me too! WOW!</p>
              <br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid">
  <p>Footer Text</p>
</footer>

</body>
