.panel-cool, .jumbotron-cool {
  background-color: lavender;
}
.jumbotron-cool{
  margin-bottom: 5px;
  margin-top: 0px;
}
.bg-cool-secondary{
  background-color: #7b98a8;
  color: whitesmoke;
}
.bg-cool-primary {
  background-color: lavender;
}
