<head>
  <style>
    .icon-spinner {
      -webkit-animation: spin 1s linear infinite; /* Safari */
      animation: spin 1s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
</head>
<body>
<app-header-ecosystemes></app-header-ecosystemes>
<section class="ptb-0">
  <div class="mb-30 brdr-ash-1 opacty-5"></div>
  <div class="container">
    <a class="mt-10" href="ecosystemes"><i class="mr-5 ion-ios-home"></i>Home<i class="mlr-10 ion-chevron-right"></i></a>
    <a class="color-ash mt-10"> Nous contacter</a>
  </div><!-- container -->
</section>


<section>
  <div class="container">
    <div class="row">

      <div class="col-sm-12 col-md-8">
        <h3><b>NOUS ENVOYER UN MESSAGE</b></h3>
        <p class="mb-30 mr-100 mr-sm-0">Nous serions honorés de recevoir votre message – Ecrivez nous pour des informations, ou pour nous faire parvenir vos suggestions, ou pour entrer en partenariat avec l'ISEP</p>
        <h6 style="color: red"><b>Les champs avec (*) sont obligatoires: </b></h6><br>
        <form class="form-block form-bold form-mb-20 form-h-35 form-brdr-b-grey pr-50 pr-sm-0" [formGroup]="formMessage">
          <div class="row">

            <div class="col-sm-6">
              <p class="color-ash">Votre Nom*</p>
              <div class="pos-relative">
                <input class="pr-20" type="text" formControlName="nameEmetteur" [(ngModel)]="m.nameEmetteur" style="background-color: lavender">
                <i class="abs-tbr lh-35 font-13 color-green ion-android-done"></i>
              </div><!-- pos-relative -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
              <p class="color-ash">Email*</p>
              <div class="pos-relative">
                <input class="pr-20" type="email" formControlName="emailEmetteur" [(ngModel)]="m.emailEmetteur" style="background-color: lavender">
                <i class="dplay-none abs-tbr lh-35 font-13 color-green ion-android-done"></i>
              </div><!-- pos-relative -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
              <p class="color-ash">Votre téléphone</p>
              <div class="pos-relative">
                <input class="pr-20" type="text" formControlName="phoneEmetteur" [(ngModel)]="m.phoneEmetteur" style="background-color: lavender">
                <i class="dplay-none abs-tbr lh-35 font-13 color-green ion-android-done"></i>
              </div><!-- pos-relative -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-6">
              <p class="color-ash">Compagnie</p>
              <div class="pos-relative">
                <input class="pr-20" type="text" formControlName="companyEmetteur" [(ngModel)]="m.companyEmetteur" style="background-color: lavender">
                <i class="dplay-none abs-tbr lh-35 font-13 color-green ion-android-done"></i>
              </div><!-- pos-relative -->
            </div><!-- col-sm-6 -->

            <div class="col-sm-12">
              <div class="pos-relative pr-80">
                <p class="color-ash">Votre message ici *</p>
                <textarea class="mb-0" formControlName="corps" [(ngModel)]="m.corps"  style="background-color: lavender; height: 100px"></textarea>
                <button class="abs-br font-20 plr-15 btn-fill-primary" type="submit" (click)="onSubmit()"
                        [disabled]="!formMessage.valid || submitting"><i class="icon-paper-plane" *ngIf="!submitting"></i>
                <span *ngIf="submitting"><span class="icon icon-spinner" role="status" aria-hidden="true"></span>
                 En cours d'envoi...</span>
                </button><!--
                <button class="btn btn-primary" type="button" disabled *ngIf="submitting">
                  <span class="icon-spinner spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </button>-->
              </div><!-- pos-relative -->
            </div><!-- col-sm-6 -->

          </div><!-- row -->
        </form>
        <div *ngIf="alerte" class="alert-success col-md-4">{{alerte}}</div><!--
        <div *ngIf="submitting" class="alert-info col-md-4">
          En cours d'envoi.....
          <!--METS ICI TON LOADER AVEC DU STYLE STP--
        </div>
        <div class="loader" *ngIf="submitting"></div>-->
      </div><!-- col-md-6 -->

      <div class="col-sm-12 col-md-4">
        <h3>Info contact</h3>
        <ul class="probootstrap-contact-info">
          <li><i class="icon-location2"></i> <span> ISEP, Diamniadio DK 10036, Sénégal</span></li><br>
          <li><i class="icon-mail"></i><span>isepdd@gmail.com</span></li><br>
          <li><i class="icon-phone2"></i><span>221-33-456-78-90</span></li><br>
        </ul>
        <br>
        <app-new-header></app-new-header>
      </div><!-- col-md-6 -->
    </div><!-- row -->
  </div><!-- container -->
</section>



<!-- SCIPTS -->


<app-logos-partenaire></app-logos-partenaire>
</body>

