.panel-cool, .jumbotron-cool {
  background-image: linear-gradient(to top, lavender, white);
}

.jumbotron-cool{
  margin-bottom: 5px;
  margin-top: 0px;
  padding: 25px;
}
.bg-cool-secondary{
  background-color: #7b98a8;
  color: whitesmoke;
}
.bg-cool-primary {
  background-color: lavender;
}
button{
  border: none;
}
