<app-header-isep></app-header-isep>
<!--slide-header-->
<div style="background-size: cover; height: 350px; margin-bottom: 120px">
  <div class="flexslider" style="height: 100%; z-index: 0">
    <ul class="slides" style="margin: auto;width: 100%;height: 100%">
      <li style="background-image: url(../../../assets/img/sl3.png); height: 100%" class="">
      </li>
      <li style="background-image: url(../../../assets/img/sl1.jpg); height: 100%" class="">
      </li>
    </ul>
  </div>
</div>
<!--/slide-header-->

<div class="probootstrap-flex-block probootstrap-animate">
<div class="container"  style="background-image: linear-gradient(to bottom, lavender, white); border-radius: 10px 10px 10px 10px">
  <div class="col-lg-8 probootstrap-animate" style="font-family: Verdana">
    <div class="bg-cool" style="height: 75px; text-align: left;font-size: medium; padding-top: 25px;
     margin-top: 0px; padding-left: 12px">
      <h6><a href="accueil" style="color: black">Accueil</a> / A propos / Nous Connaitre</h6>
    </div>
    <!--Nouveau-->
    <div class="jumbotron jumbotron-cool">
      <h2 style="text-align: center; margin-bottom: 30px; font-family: Arial"><strong>Nous connaitre</strong></h2>
      <!--SLIDES NOUS CONNAITRE-->
      <!--END SLIDES-->
      <p style="text-align: left">
      <h5>
        L’Institut Supérieur d’Enseignement Professionnel (ISEP) de Diamniadio, est dédié aux
          métiers de l’automobile et aux Technologies de l’Information et de la Communication (TIC).
      </h5>
    </div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse1" data-toggle="collapse"  data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left" >
              <strong>Génèse <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
       <!-- <div class="panel-heading bg-cool-secondary">
          <h4 class="panel-title">
            <button type="button" class="btn btn-lg btn-block bg-cool-secondary dropdown-toggle" data-toggle="collapse"
                    data-parent="#accordion" href="#collapse1" style="text-align: left"><h3><strong>Génèse <span class="caret"></span></strong></h3></button>
          </h4>
        </div>-->
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <p style="text-align: justify">
                Sa construction par le Ministère de l’Enseignement Supérieur, de la Recherche et de l’Innovation répond à la mise en
                œuvre des directives présidentielles N°1 sur la réorientation du système d’enseignement supérieur vers les Sciences,
                les Technologies, les Sciences de l’ingénieur et les mathématiques, celle N° 7 sur les formations
                professionnelles courtes, issues de la Concertation Nationale sur l’Avenir de l’Enseignement Supérieur (CNAES).
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-cool">
        <a href="#collapse2" data-toggle="collapse"  data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left" >
              <strong>Défis <span class="caret"></span></strong>
            </h4>
          </div>
        </a><!--
        <div class="panel-heading bg-cool-secondary">
          <h4 class="panel-title">
            <button type="button" class="btn btn-lg btn-block bg-cool-secondary dropdown-toggle" data-toggle="collapse"
                    style="text-align: left" data-parent="#accordion" href="#collapse2"><h3><strong>Défis <span class="caret"></span></strong></h3></button>
          </h4>
        </div>-->
        <div id="collapse2" class="panel-collapse collapse in">
          <div class="panel-body">
            <p style="text-align: justify">
                Conformément à l’article 3 du décret n° 2016-813 du 14 juin 2016 portant création de l’ISEP de Diamniadio,
                la formation exclusivement en alternance institut – milieux professionnels est le modèle consacré.  Dans la
                mise en œuvre du modèle de l’ISEP de Diamniadio basé sur la formation en alternance, l’un des défis majeurs est la
                pérennisation du régime des études en alternance entre l’institut et les
                milieux professionnels ciblés caractérisés par leur faiblesse en capacité d’accueil de stagiaires
            </p>
          </div>
        </div>
      </div>
      <div class="panel panel-cool">
        <a href="#collapse3" data-toggle="collapse"  data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left" >
              <strong>Objectifs <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse3" class="panel-collapse collapse in">
          <div class="panel-body">
            <p style="text-align: justify">
                Pour pallier cette faiblesse, il a été conçu un modèle novateur qui consiste à créer des écosystèmes de partenaires
                autour de l’ISEP comme moyen de recréer les milieux professionnels nécessaires à l’immersion des apprenants. Au cœur de
                ces écosystèmes, il est prévu des centres autonomes de production et de prestation de services. Un tel modèle nécessite
                une forte adhésion des acteurs professionnels et institutionnel, par conséquent une démarche inclusive.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-contain-brother2></app-contain-brother2>
</div>
</div>

<div>
<app-label></app-label>
<app-logos-partenaire></app-logos-partenaire>
</div>
