<app-header-isep></app-header-isep>
<!--En-tete: articles les plus récents-->
<!--END En-tete -->
<!-- Article--
DEBUT ANCIEN
<div class="container">
  <h6><a href="accueil">Home</a> / <a href="formation">Formation</a> / <a href="showdepartement/{{filiere?.departement?.id}}">{{filiere?.departement?.nom}}</a> / {{filiere?.nom}}</h6>
  <div class="col-lg-8">
    <div id="titre">
      <h2 class="list-group-item active">{{filiere?.nom}}</h2>
    </div>
    <br><br>
    <div class="card">
      <img class="card-img-top img-responsive" src="../../assets/img/slider_2.jpg" alt="Card image cap">
      <div class="card-body">
        <BR><BR>
        <div [innerHtml]="filiere?.description"></div>
        <br><br>
      </div>
    </div>
  </div>
  <app-contain-brother2></app-contain-brother2>
</div>
FIN ANCIEN -->
<div class="container">
  <div class="col-lg-8" style="font-family: Verdana">
    <div class="bg-cool" style="height: 75px; text-align: left;font-size: medium; padding-top: 25px;
     margin-top: 0px; padding-left: 12px">
      <h6><a href="accueil">Home</a> / <a href="formation">Formation</a> /
        <a href="showdepartement/{{filiere?.departement?.id}}">{{filiere?.departement?.nom}}</a> / {{filiere?.nom}}</h6>
    </div>
    <div class="jumbotron jumbotron-cool">
      <h2 style="text-align: center"><strong>{{filiere?.nom}}</strong></h2>
      <!--SLIDES NOUS CONNAITRE
      <div class="flexslider column left" style="margin-bottom: 0px;right: 0px;left: 0px; margin-top: 0; padding-top: 0px">
        <ul class="slides" style="margin-right: 5px;margin-left: 5px;width: 100%">
          <li style="background-image: url(../../../assets/img/img_tp4.jpg)" class="overlay"></li>
          <li style="background-image: url(../../../assets/img/img_tp5.jpg)" class="overlay"></li>
          <li style="background-image: url(../../../assets/img/img_tp1.jpg)" class="overlay"></li>
          <li style="background-image: url(../../../assets/img/img_tp3.jpg)" class="overlay"></li>
        </ul>
      </div>
      -->
      <div>
        <p><i> {{filiere?.presentation}}</i>
        </p>
      </div>
      <!--END SLIDES-->
    </div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
              <strong>Objectifs <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>{{filiere?.objectif}}</p>
          </div>
        </div>
      </div>
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse2" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
              <strong>Conditions d'admission <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse2" class="panel-collapse collapse ">
          <div class="panel-body">
           <p>{{filiere?.conditionAdmission}}</p>
          </div>
        </div>
      </div>
    <div class="panel panel-cool" style="margin-top: 0px">
      <a href="#collapse3" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
        <div class="panel-heading bg-cool-secondary">
          <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
            <strong>Débouchés <span class="caret"></span></strong>
          </h4>
        </div>
      </a>
      <div id="collapse3" class="panel-collapse collapse ">
        <div class="panel-body">
          <p>{{filiere?.debouches}}</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  <app-contain-brother2></app-contain-brother2>
</div>

