<app-header-isep></app-header-isep>
<!--slide-header-->
<div style="background-size: cover; height: 350px; margin-bottom: 120px">
  <div class="flexslider" style="height: 100%; z-index: 0">
    <ul class="slides" style="margin: auto;width: 100%;height: 100%">
      <li style="background-image: url(../../../assets/img/sl3.png); height: 100%" class="">
      </li>
      <li style="background-image: url(../../../assets/img/sl1.jpg); height: 100%" class="">
      </li>
    </ul>
  </div>
</div>
<!--/slide-header-->

<div class="probootstrap-flex-block probootstrap-animate">
<div class="container"   style="background-image: linear-gradient(to bottom, lavender, white); border-radius: 10px 10px 10px 10px">
  <div class="col-lg-8" style="font-family: Verdana">
    <div class="bg-cool" style="height: 75px; text-align: left;font-size: medium; padding-top: 25px;
     margin-top: 0px; padding-left: 12px">
      <h6><a href="accueil" style="color: black">Home</a> / A propos / Mission et Ambitions</h6></div>
    <!--Nouveau-->
    <div class="jumbotron jumbotron-cool">
      <h2 style="text-align: center; font-family: Arial; margin-bottom: 30px"><strong>Missions et valeurs</strong></h2>
      <p style="text-align: left">
        <h5>
          L’Institut Supérieur d’Enseignement Professionnel (ISEP) de Diamniadio, est dédié aux
            métiers de l’automobile et aux Technologies de l’Information et de la Communication (TIC).
        </h5>
    </div>
    <div class="panel-group" id="accordion">
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
              <strong>Missions <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body"><!--
            <p style="text-align: justify">Former en alternance des techniciens supérieurs en co-construction avec
              le milieu socio-professionnel pour une employabilité durable des jeunes.</p>-->
            <ul class="list-group" >
              <li class="list-group-item bg-cool-primary" style="text-align: justify"><h5><i class="icon-leaf"></i>	Former en alternance des techniciens
                supérieurs avec 20 filières dans les TIC et les métiers de l’automobile</h5></li>
              <li class="list-group-item bg-cool-primary" style="text-align: justify"><h5><i class="icon-leaf"></i>	Offrir aux professionnels dans
                les TIC et métiers de l’Automobile des formations qui renforcent leurs qualifications en tenant comptes des demandes
                et changement dans leur industrie</h5></li>
              <li class="list-group-item bg-cool-primary" style="text-align: justify"><h5><i class="icon-leaf"></i>	Participer à la diversification de
                l’offre de formation au Sénégal, et aussi en Afrique et dans le monde</h5></li>
              <li class="list-group-item bg-cool-primary" style="text-align: justify"><h5><i class="icon-leaf"></i> Recréer les conditions du milieu
                professionnel autour de l’ISEP pour être réceptacle pour les immersions des apprenants</h5></li>
              <li class="list-group-item bg-cool-primary" style="text-align: justify"><h5><i class="icon-leaf"></i>	Mettre en place un écosystème de
                partenaires pour rendre possible et pérenniser l’alternance comme modèle d’enseignement</h5></li>
              <li class="list-group-item bg-cool-primary" style="text-align: justify"><h5><i class="icon-leaf"></i>	Favoriser la création d’emploi
                et l’entreprenariat</h5></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-cool">
        <a href="#collapse2" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
              <strong>Valeurs <span class="caret"></span></strong>
            </h4>
          </div>
        </a><!--
        <div class="panel-heading bg-cool-secondary">
          <h4 class="panel-title">
            <button type="button" class="btn btn-lg btn-block bg-cool-secondary dropdown-toggle" data-toggle="collapse"
               style="text-align: left" data-parent="#accordion" href="#collapse2"><h4><strong>Valeurs <span class="caret"></span>
            </strong></h4></button>
          </h4>
        </div>-->
        <div id="collapse2" class="panel-collapse collapse">
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item bg-cool-primary"><h5><i class="icon-leaf"></i> Capacité d’adaptation
                (PM : Comment inclure l’aspect agilité)</h5></li>
              <li class="list-group-item bg-cool-primary"><h5><i class="icon-leaf"></i> Flexibilité</h5></li>
              <li class="list-group-item bg-cool-primary"><h5><i class="icon-leaf"></i> Innovation</h5></li>
              <li class="list-group-item bg-cool-primary"><h5><i class="icon-leaf"></i> Esprit d’équipe et de collaboration</h5></li>
              <li class="list-group-item bg-cool-primary"><h5><i class="icon-leaf"></i> Culture de performance et de reddition des comptes</h5></li>
              <li class="list-group-item bg-cool-primary"><h5><i class="icon-leaf"></i> Culture d ‘entreprenariat</h5></li>
              <li class="list-group-item bg-cool-primary"><h5><i class="icon-leaf"></i>Esprit d’appartenance et d’ouverture</h5></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-cool">
        <a href="#collapse3" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
              <strong>Ambitions <span class="caret"></span></strong>
            </h4>
          </div>
        </a><!--
        <div class="panel-heading bg-cool-secondary">
          <h4 class="panel-title">
            <button type="button" class="btn btn-lg btn-block bg-cool-secondary dropdown-toggle" data-toggle="collapse"
                    data-parent="#accordion" href="#collapse3" style="text-align: left"><h4><strong>Ambitions <span class="caret"></span></strong></h4></button>
          </h4>
        </div>-->
        <div id="collapse3" class="panel-collapse collapse">
          <div class="panel-body">
            <p style="text-align: justify">
              L’un des défis majeurs, s’il n’est central dans la mise en œuvre du modèle des ISEP, est
              la pérennisation du régime des études en alternance entre l’Institut et les milieux socioprofessionnels ciblés
              caractérisés par leur faiblesse en capacité d’accueil de stagiaires. Pour atteindre ses objectifs principaux, en
              particulier assurer la formation en alternance de ses apprenants, l’ISEP de Diamniadio, concomitamment avec ses
              missions d’enseignement, devra tisser des relations de coopération fortes, structurelles et durables avec les milieux
              économiques et professionnels, notamment avec les entreprises spécialisées dans les métiers de l’automobile et les TIC.
           </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-contain-brother2></app-contain-brother2>
</div>
</div>
