<app-header-isep></app-header-isep>
<!--En-tete: articles les plus récents-->
<!--END En-tete -->
<!-- Article-->
<!--slide-header-->
<div style="background-size: cover; height: 350px; margin-bottom: 120px">
  <div class="flexslider" style="height: 100%; z-index: 0">
    <ul class="slides" style="margin: auto;width: 100%;height: 100%">
      <li style="background-image: url(../../assets/img/sl3.png); height: 100%" class="">
      </li>
      <li style="background-image: url(../../assets/img/sl1.jpg); height: 100%" class="">
      </li>
    </ul>
  </div>
</div>
<!--/slide-header-->

<!--/slide-header-->
<div class="probootstrap-flex-block probootstrap-animate">
<div class="container" style="background-image: linear-gradient(to bottom, lavender, white); border-radius: 10px 10px 10px 10px">
  <div class="col-lg-8" style="font-family: Verdana">
    <div class="bg-cool" style="height: 75px; text-align: left;font-size: medium; padding-top: 25px;
     margin-top: 0px; padding-left: 12px">
      <h6><a href="accueil">Home</a> / <a href="formation">Formation</a> / {{departement?.nom}}</h6>
    </div>
    <div class="jumbotron jumbotron-cool">
      <h2 style="text-align: center; margin-top: 0"><strong>{{departement?.nom}}</strong></h2>
      <!--SLIDES NOUS CONNAITRE-->
      <!--END SLIDES-->
    </div><!--
    <div id="titre">
      <h2 class="list-group-item active" style="">{{departement?.nom}}</h2>
    </div>
   <br><br>-->
    <div class="panel-group" id="accordion">
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse1" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
              <strong>Description <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse1" class="panel-collapse collapse in">
          <div class="panel-body">
            <div [innerHtml]="departement?.description"></div>
          </div>
        </div>
      </div>
      <div class="panel panel-cool" style="margin-top: 0px">
        <a href="#collapse2" data-toggle="collapse" data-parent="#accordion" style="text-decoration: none">
          <div class="panel-heading bg-cool-secondary">
            <h4 class="panel-title bg-cool-secondary dropdown-toggle" style="text-align: left">
              <strong>Filières <span class="caret"></span></strong>
            </h4>
          </div>
        </a>
        <div id="collapse2" class="panel-collapse collapse in">
          <div class="panel-body">
            <ng-container *ngFor="let fi of departement.filieres">
              <a href="showfiliere/{{fi?.id}}" class="list-group-item"><i class="icon-menu"></i>  {{fi?.nom}}</a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-contain-brother2></app-contain-brother2>
</div>
</div>
      <!--
    <div class="card">
      <img class="card-img-top img-responsive" src="../../assets/img/slider_2.jpg" alt="Card image cap">
      <div class="card-body">
        <BR><BR>
        <div [innerHtml]="departement?.description">
        </div>
        <br><br>
        <div class="list-group">
          <a href="#" class="list-group-item active">Les différentes filières du département</a>
          <ng-container *ngFor="let fi of departement.filieres">
            <a href="showfiliere/{{fi?.id}}" class="list-group-item">{{fi?.nom}}</a>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <app-contain-brother2></app-contain-brother2>
</div>
-->
