<!--En-tete: articles les plus récents et ayant rapport avec l'article en question-->
<app-header-isep></app-header-isep>
<app-contain-brother></app-contain-brother>
<!--END En-tete -->
<!-- Article-->
<div class="container">
  <div class="col-lg-8">
    <div id="titre">
      <h2>{{article?.titre}}</h2>
    </div>
    <div id="auteur">
      <h4>Posté par: Isep</h4>
    </div>
    <div id="date" class="fixed-right">
      <span class="glyphicon icon-calendar"></span><i>  {{article?.dateCreation | date: 'dd/MM/yyyy, HH:mm'}}</i><br>
      <i>{{article?.vues}} <span class="icon icon-eye"></span></i>
    </div><br><br>
    <div class="card">
      <img class="card-img-top img-responsive" src="{{article?.images[0]?.url}}" alt="Card image cap">
      <div class="card-body">
        <BR><BR><br>
        <div id="texte"></div>
        <br><br><br>
    </div>
    </div>
  </div>
  <app-contain-brother2></app-contain-brother2>
</div>
