<!--section titre-->
<section style="height: 200px;">
  <div style="padding-top: 0px;position: center">
    <div class="header-text-slide">
      <div class="item-1-tx"><p class="glow firstset">Histoire et Patrimoine de l'ISEP de Diamniadio</p></div>
    </div>
  </div>
</section>
<!--Mot du directeur-->
<app-article></app-article>
<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
        <h2>Pourquoi choisir l'ISEP de Diamniadio?</h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Un enseignement d qualité</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
          </div>
        </div>
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Des technologies modernes</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
          </div>
        </div>
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Espaces de travail adaptés aux besoins des étudiants</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Une formation en alternace</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
          </div>
        </div>
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Offre de stage à l'etranger</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
          </div>
        </div>
        <div class="service left-icon probootstrap-animate">
          <div class="icon"><i class="icon-checkmark"></i></div>
          <div class="text">
            <h3>Insertion facile après la graduation</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto provident qui tempore natus quos quibusdam soluta at.</p>
          </div>
        </div>

      </div>
    </div>
    <!-- END row -->
  </div>
</section>
