<app-header-ecosystemes></app-header-ecosystemes>
<h6><a href="accueil">Home</a> / <a href="ecosystemes">Ecosystèmes</a> / <a>Evénements</a> </h6>
<div class="container">
  <div class="col-lg-8">
    <div id="titre">
      <h3 class="list-group-item active">{{event?.titre}}</h3><br>
    </div>
    <div id="auteur">

    </div>
    <div id="date" class="fixed-right">
      <span class="icon-calendar2"></span><i> Posté le: {{event?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</i>
    </div><br>
    <br>
    <div class="card">
      <img class="card-img-top img-responsive" style="width: 100%" src="{{event?.images[0]?.url}}" >
      <div class="card-body">
        <BR><br>
        <div id="texte" style="margin-left: 15px"></div>
        <br><br>
        <div style="margin-left: 15px">
          <div *ngIf="event?.videos && event?.videos.length > 1">

            <div *ngFor="let v of event?.videos; let i = index">
              <video src="{{v?.url}}" class="card-img-top img-responsive" style="width: 100%"></video><br>
            </div>
          </div>
          <div *ngIf="event?.documents && event?.documents.length > 0">
            <p>Les pièces jointes de cet article:</p>
            <div *ngFor="let d of event?.documents">
              <span class="icon-file-pdf"> </span><a href="{{d?.url}}">{{d?.nom}}</a><br>
            </div>
          </div>
          <div *ngIf="event?.images && event?.images.length > 1">
            <div *ngFor="let i of event?.images">
              <img src="{{i?.url}}" class="card-img-top img-responsive" style="width: 100%" alt="Card image cap"><br>
            </div>
          </div>
          <br><br>

        </div>
      </div>
    </div>
  </div>
  <app-contain-brother2></app-contain-brother2>
</div>

