<section class="probootstrap-section">
  <div class="container">
    <div class="col-md-6">
      <p>
        <img src="../../../assets/img/slider_1.jpg" alt="Free Bootstrap Template by uicookes.com" class="img-responsive">
      </p>
    </div>
    <div class="col-md-6 col-md-push-1">
      <h2>We are NYC based School focused on excellence.</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis explicabo veniam labore ratione illo vero voluptate a deserunt incidunt odio aliquam commodi blanditiis voluptas error non rerum temporibus optio accusantium!</p>
      <p>Quis explicabo veniam labore ratione illo vero voluptate a deserunt incidunt odio aliquam commodi blanditiis voluptas error non rerum temporibus optio accusantium!</p>
    </div>
  </div>
</section>
