<section class="probootstrap-section" style="margin-top: 20px;padding-top: 0;padding-bottom: 0; background-image: linear-gradient(to top, lavender, white)">
  <div class="container" style="margin-right: auto;margin-left: auto;width: 100%">
    <div class="row" style="margin-bottom: 0;padding-bottom:0 ">
      <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
        <h2>Pourquoi choisir l'ISEP de Diamniadio?</h2>
        <p class="lead">Ci-dessous quelques points pour lesquels nous vous demandons de faire confiance à l'ISEP pour votre avenir.</p>
      </div>
    </div>
    <div class="row" style="margin-top: 0">
      <div class="col-md-6">
        <div class="service left-icon probootstrap-animate myic">
          <div class="icon"><i class="icon-leaf"></i></div>
          <div class="text">
            <h3>{{labels[0]?.titre}}</h3>
            <p>{{labels[0]?.corps}}</p>
          </div>
        </div>

        <div class="service left-icon probootstrap-animate myic">
          <div class="icon"><i class="icon-leaf"></i></div>
          <div class="text">
            <h3>{{labels[1]?.titre}}</h3>
            <p>{{labels[1]?.corps}}</p>
          </div>
        </div>

        <div class="service left-icon probootstrap-animate myic">
          <div class="icon"><i class="icon-leaf"></i></div>
          <div class="text">
            <h3>{{labels[2]?.titre}}
            </h3>
            <p>{{labels[2]?.corps}}</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="service left-icon probootstrap-animate myic">
          <div class="icon"><i class="icon-leaf"></i></div>
          <div class="text">
            <h3>{{labels[3]?.titre}} </h3>
            <p>{{labels[3]?.corps}}</p>
          </div>
        </div>

        <div class="service left-icon probootstrap-animate myic">
          <div class="icon"><i class="icon-leaf"></i></div>
          <div class="text">
            <h3>{{labels[4]?.titre}}</h3>
            <p>{{labels[4]?.corps}}</p>
          </div>
        </div>

        <div class="service left-icon probootstrap-animate myic">
          <div class="icon"><i class="icon-leaf"></i></div>
          <div class="text">
            <h3>{{labels[5]?.titre}}
            </h3>
            <p>{{labels[5]?.corps}}</p>
          </div>
        </div>

      </div>
    </div>
    <!-- END row -->
  </div>
</section>
