<body>
<footer class="probootstrap-footer probootstrap-bg">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="probootstrap-footer-widget">
          <h3>A propos</h3>
          <p>L’institut Supérieur D’enseignement Professionnel (ISEP) de Diamniadio, est dédié aux métiers de l’automobile et aux Technologies de l’Information et de la Communication (TIC). </p>
          <h3>Social</h3>
          <ul class="probootstrap-footer-social">
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook"></i></a></li>
            <li><a href="#"><i class="icon-github"></i></a></li>
            <li><a href="#"><i class="icon-dribbble"></i></a></li>
            <li><a href="#"><i class="icon-linkedin"></i></a></li>
            <li><a href="#"><i class="icon-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-md-push-1">
        <div class="probootstrap-footer-widget">
          <h3>Liens</h3>
          <ul>
            <li><a href="#">A propos</a></li>
            <li><a href="#">Formation</a></li>
            <li><a href="#">Nos etudiants</a></li>
            <li><a href="#">Alumni</a></li>
            <li><a href="#">Ecosystemes</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="probootstrap-footer-widget">
          <h3>Info contact</h3>
          <ul class="probootstrap-contact-info">
            <li><i class="icon-location2"></i> <span>ISEP, Diamniadio DK 10036, Sénégal</span></li>
            <li><i class="icon-mail"></i><span>isepdd@gmail.com</span></li>
            <li><i class="icon-phone2"></i><span>221-33-456-78-90</span></li>
          </ul>
        </div>
      </div>

    </div>
    <!-- END row -->

  </div>

  <div class="probootstrap-copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-8 text-left">
          <p>&copy; 2018 <a href="https://uicookies.com/">ISEP Diamniadio</a>. Tous droits reserves</p>
        </div>
        <div class="col-md-4 probootstrap-back-to-top">
          <p><a href="#" class="js-backtotop">Haut de page<i class="icon-arrow-long-up"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
