<app-header-isep style="width: 100%"></app-header-isep>
<app-slides></app-slides>
<app-vice-header></app-vice-header>

<!--Mot du directeur-->
<section class="probootstrap-section mysection">
  <div class="container" style="width: 100%">
    <div class="row">
      <div class="col-md-12">
        <div class="probootstrap-flex-block row">
          <!--TTexte accompagnant la video de visite virtuelle-->

          <div class="probootstrap-text probootstrap-animate left column" style="border-radius: 8px 8px 8px 8px" *ngIf="allocution">
            <h3 class="text-center">{{allocution?.titre}}</h3>
            <ng-container  *ngIf="allocution?.media && allocution?.media?.type !== 'mp4'">
            <div style="height: 293px; font-size: 16px; display: block;display: -webkit-box;line-height: 1.5; -webkit-line-clamp: 12; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; margin-bottom: 10px; text-align: justify">
                <p class="premier">
                  <span class="lettrine" [ngStyle]="{'background-image': 'url('+allocution?.media?.url+')'}"></span>
                  <span [innerHtml]="allocution?.corps"></span>
                </p>
            </div>
              <section>

                <p style="position: absolute; bottom: 5px"><button (click)="ngxSmartModalService.getModal('myModal').open()" class="btn btn-primary" id="myBtn">La suite</button></p>
              </section>
            </ng-container>

            <ng-container *ngIf="allocution?.media && allocution?.video?.type === 'mp4'">
              <video width="255" height="200" controls style="margin: auto">
                <source  src="{{allocution?.media?.url}}" type="video/mp4">
              </video>
            </ng-container>
          </div>
          <!--END Texte-->


          <div class="probootstrap-animate right column">
            <app-appels-doffres-component></app-appels-doffres-component>
            <app-show-evenement></app-show-evenement>
            <div class="row">
              <div class="col-md-12 text-center">
                <a href="ecosystemes/evenements" class="btn btn-primary">Voir tous les évenements</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--END Articles-->
<!--LA UNE-->
<!--News a la une-->

  <div class="colorlib-blog colorlib-light-grey" style="margin-top: 0; padding-top: 0;margin-bottom: 0; padding-bottom: 0">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center colorlib-heading animate-box">
          <h2>Actualité à l'ISEP</h2>
          <p style="text-align: center">Retrouvez en direct toute  l'actualité sur le site de l'ISEP, et ne ratez aucune information en suivant nos dernières publications</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 probootstrap-animate">
          <article class="article-entry" *ngIf="articles && articles?.length !== 0" style="overflow: hidden; border-radius: 5px 5px 5px 5px">
            <a (click)="onVisualiserArticle(articles[0])" class="blog-img">
              <img src="{{articles[0]?.mediaArticles[0]?.pk?.media?.url}}" class="img-responsive" style="height: 100%; width: 100%">
              <p class="meta"><span class="day">{{articles[0]?.dateCreation | date: 'dd'}}</span><span class="month">{{articles[0]?.dateCreation | date: 'MMM'}}</span></p>
            </a>
            <div class="desc">
              <h2><a (click)="onVisualiserArticle(articles[0])">{{articles[0]?.titre}}</a></h2>
              <p class="admin"><span>Posté par : </span> <span>ISEP Diamniadio</span></p>
              <div style="font-size: 14px; display: block;display: -webkit-box;line-height: 1.5; -webkit-line-clamp: 6; -webkit-box-orient: vertical; overflow: hidden;text-overflow: ellipsis; margin-bottom: 10px; text-align: justify" *ngIf="articles && articles?.length !== 0" [innerHtml]="articles[0]?.corps"></div>
            </div>
          </article>
        </div>
        <div class="col-md-6">
          <div class="f-blog probootstrap-animate">
            <a (click)="onVisualiserArticle(articles[1])" class="blog-img" >
              <img src="{{articles[1]?.mediaArticles[0]?.pk?.media?.url}}" class="" style="height: 100px;width: 130px; margin: auto">
            </a>
            <div class="desc cle">
              <h4 class="lilblog"><a (click)="onVisualiserArticle(articles[1])" *ngIf="articles && articles?.length !== 0">{{articles[1]?.titre}}</a></h4>
              <p class="admin" *ngIf="articles && articles?.length !== 0"><span>{{articles[1]?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</span></p>
            </div>
          </div>
          <div class="f-blog probootstrap-animate">
            <a (click)="onVisualiserArticle(articles[2])"  class="blog-img" style="background-image: url(#);">
              <img src="{{articles[2]?.mediaArticles[0]?.pk?.media?.url}}" class="" style="height: 100px;width: 130px">
            </a>
            <div class="desc cle">
              <h4 class="lilblog"><a (click)="onVisualiserArticle(articles[2])"  *ngIf="articles && articles?.length !== 0">{{articles[2]?.titre}}</a></h4>
              <p class="admin" *ngIf="articles && articles?.length !== 0"><span>{{articles[2]?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</span></p>
            </div>
          </div>
          <div class="f-blog probootstrap-animate">
            <a (click)="onVisualiserArticle(articles[3])"  class="blog-img" style="background-image: url(#);">
              <img src="{{articles[3]?.mediaArticles[0]?.pk?.media?.url}}" class="" style="height: 100px;width: 130px">
            </a>
            <div class="desc cle">
              <h4 class="lilblog"><a (click)="onVisualiserArticle(articles[3])"  *ngIf="articles && articles?.length !== 0">{{articles[3]?.titre}}</a></h4>
              <p class="admin" *ngIf="articles && articles?.length !== 0"><span>{{articles[3]?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</span></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 text-center">
              <a href="news" class="btn btn-primary">Carrefour de l'actualité</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <app-label></app-label>
  <app-new-header></app-new-header>
    <app-logos-partenaire></app-logos-partenaire>
</div>

<ngx-smart-modal #myModal identifier="myModal">
  <h1 style="margin: 15px">{{allocution?.titre}}</h1>
    <img src="{{allocution?.media?.url}}" alt="" class="img-responsive" style="height: 200px; margin: auto;">
    <p style="text-align: justify; margin: 15px" [innerHtml]="allocution?.corps"></p>

    <button (click)="myModal.close()" class="btn btn-primary" style="margin-top: 10px">Close</button>
</ngx-smart-modal>
