.container1{
  height:200px;
  width:100%;
  position:relative;
  overflow: hidden;
}
.div1 {
  background: none repeat scroll 0 0 #0000FF;
  left: -30px;
  width: 70%;
}
.div2 {
  background: none repeat scroll 0 0 #000000;
  right: -25px;
  width: 30%;
}
.div{
  top: -10px;
  transform: rotate(50deg);
  position: absolute;
  height: 72px;
}
