<section class="probootstrap-cta" style="background-color: #7b98a8; padding: 0px" >
  <div class="container" style="margin-right: auto;margin-left: auto;width: 100%">
    <div class="row" style="margin: 0px">
      <div class="col-md-12">
        <img src="../../assets/img/logo_oracle.png" style="max-width: 50%; height: 100px; bottom: 0; margin-right: 5%">
        <img src="../../assets/img/logo_cisco.png" style="max-width: 50%; height: 100px; bottom: 0">
        <a href="formation/certifications" role="button" class="btn btn-primary btn-lg btn-ghost probootstrap-animate" data-animate-effect="fadeInLeft" style="margin: 2%">Postuler ici</a>
      </div>
      <h2 class="probootstrap-animate" data-animate-effect="fadeInLeft" style="margin-left: 2%; margin-bottom: 0px;margin-top: 0px; font-size: 50px">Certification Oracle et Cisko</h2>
    </div>
  </div>
</section>
