<head>
  <style>
    .icon-spinner {
      -webkit-animation: spin 1s linear infinite; /* Safari */
      animation: spin 1s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
</head>
<body >
<app-header-ecosystemes></app-header-ecosystemes>
<div style="background-image: url('../../assets/img/back10.jpg'); background-size: cover">
  <br><br>
  <h1 style="text-align: center; margin-top: 0;text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;"><strong>Portail Ecosystème - ISEP DD</strong></h1>
  <br><br>
</div>
<div class="container" style="margin-top: 10px">
  <div *ngIf="gettingData" style="text-align: center"><p><span class="icon icon-spinner"></span> Chargement.....</p></div>
  <div class="h-600x h-sm-auto">
    <div class="h-2-3 h-sm-auto oflow-hidden">
      <div class="pb-5 pr-5 pr-sm-0 float-left float-sm-none w-2-3 w-sm-100 h-100 h-sm-300x">
        <a class="pos-relative h-100 dplay-block" (click)="onVoirArticle(articles[0])">

          <div class="img-bg bg-1 bg-grad-layer-6" [ngStyle]=" {'background': 'url('+articles[0]?.images[0].url+') no-repeat center'}"></div>

          <div class="abs-blr color-white p-20 bg-sm-color-7">
            <h3 class="mb-15 mb-sm-5 font-sm-13"><b>{{articles[0]?.titre}}</b></h3>
            <ul class="list-li-mr-20">
              <li><span class="icon icon-pencil"></span> Par <span class="color-primary"><b>
                {{articles[0]?.user?.userName}}</b></span></li>
               <li> <span class="icon icon-calendar"></span>  {{articles[0]?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</li>
              <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>{{articles[0]?.vues}}
                <span class="icon icon-eye"></span>
              </li>
            </ul>
          </div><!--abs-blr -->
        </a><!-- pos-relative -->
      </div><!-- w-1-3 -->
      <div class="float-left float-sm-none w-1-3 w-sm-100 h-100 h-sm-600x">
        <div class="pl-5 pb-5 pl-sm-0 ptb-sm-5 pos-relative h-50">
          <a class="pos-relative h-100 dplay-block" (click)="onVoirArticle(articles[1])">
            <div class="img-bg bg-2 bg-grad-layer-6" [ngStyle]=" {'background': 'url('+articles[1]?.images[0]?.url+') no-repeat center'}"></div>
            <div class="abs-blr color-white p-20 bg-sm-color-7">
              <h4 class="mb-10 mb-sm-5"><b>{{articles[1]?.titre}}</b></h4>
              <ul class="list-li-mr-20">
                <li><span class="icon icon-pencil"></span> Par <span class="color-primary"><b>
                  {{articles[1]?.user?.userName}}</b></span></li>
                <li><span class="icon icon-calendar"></span> {{articles[1]?.dateCreation | date: 'dd/MM/yyy à HH:mm'}}</li>
                <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>{{articles[1]?.vues}} <span class="icon icon-eye"></span></li>
              </ul>
            </div><!--abs-blr -->
          </a><!-- pos-relative -->
        </div><!-- w-1-3 -->

        <div class="pl-5 ptb-5 pl-sm-0 pos-relative h-50">
          <a class="pos-relative h-100 dplay-block" (click)="onVoirArticle(articles[2])">
            <div class="img-bg bg-3 bg-grad-layer-6" [ngStyle]=" {'background': 'url('+articles[2]?.images[0]?.url+') no-repeat center'}"></div>
            <div class="abs-blr color-white p-20 bg-sm-color-7">
              <h4 class="mb-10 mb-sm-5"><b>{{articles[2]?.titre}}</b></h4>
              <ul class="list-li-mr-20">
                <li><span class="icon icon-pencil"></span> Par <span class="color-primary"><b>
                  {{articles[1]?.user?.userName}}</b></span></li>
                <li><span class="icon icon-calendar"></span> {{articles[2]?.dateCreation | date: 'dd/MM/yyy à HH:mm'}}</li>
                <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>{{articles[2]?.vues}} <span class="icon icon-eye"></span></li>
              </ul>
            </div><!--abs-blr -->
          </a><!-- pos-relative -->
        </div><!-- w-1-3 -->
      </div><!-- float-left -->
    </div><!-- h-2-3 -->
    <div class="h-1-3 oflow-hidden">
      <div class="pr-5 pr-sm-0 pt-5 float-left float-sm-none pos-relative w-1-3 w-sm-100 h-100 h-sm-300x">
        <a class="pos-relative h-100 dplay-block" (click)="onVoirArticle(articles[3])">
          <div class="img-bg bg-4 bg-grad-layer-6" [ngStyle]=" {'background': 'url('+articles[3]?.images[0]?.url+') no-repeat center'}"></div>
          <div class="abs-blr color-white p-20 bg-sm-color-7">
            <h4 class="mb-10 mb-sm-5"><b>{{articles[3]?.titre}}</b></h4>
            <ul class="list-li-mr-20">
              <li><span class="icon icon-pencil"></span> Par <span class="color-primary"><b>
                  {{articles[3]?.user?.userName}}</b></span></li>
              <li><span class="icon icon-calendar"></span> {{articles[3]?.dateCreation | date: 'dd/MM/yyy à HH:mm'}}</li>
              <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>{{articles[3]?.vues}} <span class="icon icon-eye"></span></li>
            </ul>
          </div><!--abs-blr -->
        </a><!-- pos-relative -->
      </div><!-- w-1-3 -->
      <div class="plr-5 plr-sm-0 pt-5 pt-sm-10 float-left float-sm-none pos-relative w-1-3 w-sm-100 h-100 h-sm-300x">
        <a class="pos-relative h-100 dplay-block" (click)="onVoirArticle(articles[4])">
          <div class="img-bg bg-5 bg-grad-layer-6" [ngStyle]=" {'background': 'url('+articles[4]?.images[0]?.url+') no-repeat center'}"></div>
          <div class="abs-blr color-white p-20 bg-sm-color-7">
            <h4 class="mb-10 mb-sm-5"><b>{{articles[4]?.titre}}</b></h4>
            <ul class="list-li-mr-20">
              <li><span class="icon icon-pencil"></span> Par <span class="color-primary"><b>
                  {{articles[4]?.user?.userName}}</b></span></li>
              <li><span class="icon icon-calendar"></span> {{articles[4]?.dateCreation | date: 'dd/MM/yyy à HH:mm'}}</li>
              <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>{{articles[4]?.vues}} <span class="icon icon-eye"></span></li>
            </ul>
          </div><!--abs-blr -->
        </a><!-- pos-relative -->
      </div><!-- w-1-3 -->
      <div class="pl-5 pl-sm-0 pt-5 pt-sm-10 float-left float-sm-none pos-relative w-1-3 w-sm-100 h-100 h-sm-300x">
        <a class="pos-relative h-100 dplay-block" (click)="onVoirArticle(articles[5])">
          <div class="img-bg bg-6 bg-grad-layer-6" [ngStyle]=" {'background': 'url('+articles[5]?.images[0]?.url+') no-repeat center'}"></div>
          <div class="abs-blr color-white p-20 bg-sm-color-7">
            <h4 class="mb-10 mb-sm-5"><b>{{articles[5]?.titre}}</b></h4>
            <ul class="list-li-mr-20">
              <li><span class="icon icon-pencil"></span> Par <span class="color-primary"><b>
                  {{articles[4]?.user?.userName}}</b></span></li>
              <li><span class="icon icon-calendar"></span> {{articles[5]?.dateCreation | date: 'dd/MM/yyy à HH:mm'}}</li>
              <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>{{articles[5]?.vues}} <span class="icon icon-eye"></span></li>
            </ul>
          </div><!--abs-blr -->
        </a><!-- pos-relative -->
      </div><!-- w-1-3 -->
    </div><!-- h-2-3 -->
  </div><!-- h-100vh -->
</div><!-- container -->
<br>
<div style="margin: auto; width: 50%">
<a class="dplay-block btn-brdr-primary mt-20 mb-md-50" href="ecosystemes/news-ecosystemes"><b>TOUS LES ARTICLES</b></a>
</div>
<br><br>
</body>
<app-logos-partenaire></app-logos-partenaire>
