<section class="probootstrap-section probootstrap-bg probootstrap-section-colored probootstrap-testimonial" style="background-color: #120400;">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center section-heading probootstrap-animate">
        <h2>" Nos étudiants</h2>
        <p class="lead">Les propos de quelques élèves de l'ISEP de Diamniadio s'expriment!</p>
      </div>
    </div>
    <!-- END row -->
    <div class="row">
      <div class="col-md-12 probootstrap-animate">
        <div class="owl-carousel owl-carousel-testimony owl-carousel-fullwidth">
          <div class="item">

            <div class="probootstrap-testimony-wrap text-center">
              <figure>
                <img src="../../../assets/img/person_1.jpg" alt="Free Bootstrap Template by uicookies.com">
              </figure>
              <blockquote class="quote">&ldquo;Design must be functional and functionality must be translated into visual aesthetics, without any reliance on gimmicks that have to be explained.&rdquo; <cite class="author"> &mdash; <span>MOukhtar LO</span></cite></blockquote>
            </div>

          </div>
          <div class="item">
            <div class="probootstrap-testimony-wrap text-center">
              <figure>
                <img src="../../../assets/img/person_2.jpg" alt="Free Bootstrap Template by uicookies.com">
              </figure>
              <blockquote class="quote">&ldquo;Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn’t really do it, they just saw something. It seemed obvious to them after a while.&rdquo; <cite class="author"> &mdash;<span>Moustapha Ndongo</span></cite></blockquote>
            </div>
          </div>
          <div class="item">
            <div class="probootstrap-testimony-wrap text-center">
              <figure>
                <img src="../../../assets/img/person_3.jpg" alt="Free Bootstrap Template by uicookies.com">
              </figure>
              <blockquote class="quote">&ldquo;I think design would be better if designers were much more skeptical about its applications. If you believe in the potency of your craft, where you choose to dole it out is not something to take lightly.&rdquo; <cite class="author">&mdash; <span>Lamine Ndao</span></cite></blockquote>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <p><a routerLink="nosetudiants" class="btn btn-primary" style="background-color: white ;color: #120400">Voir tous</a></p>
      </div>
    </div>
    <!-- END row -->
  </div>

</section>

<div style="background:transparent; width: auto; height: 120px">

</div>
