<!--section titre-->
<section style="height: 200px;">
  <div style="padding-top: 0px;position: center">
    <div class="header-text-slide">
      <div class="item-1-tx"><p class="glow firstset">Portail étudiants ISEP DD</p></div>
    </div>
  </div>
</section>

<section class="probootstrap-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="probootstrap-flex-block">
          <div class="probootstrap-text probootstrap-animate">
            <h3>We Hired Certified Teachers For Our Students</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis explicabo veniam labore ratione illo vero voluptate a deserunt incidunt odio aliquam commodi blanditiis voluptas error non rerum temporibus optio accusantium!</p>
            <p><a href="#" class="btn btn-primary">Learn More</a></p>
          </div>
          <div class="probootstrap-image probootstrap-animate" style="background-image: url(../../assets/img/slideisep4.jpg)">
            <a href="https://vimeo.com/45830194" class="btn-video popup-vimeo"><i class="icon-play3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<section class="probootstrap-section">
  <div class="container">


    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Matar Lo</h3>
            <h4>Développeur</h4>
            <p>Je suis bien à l'ISEP...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Mass Diop</h3>
            <h4>Développeur</h4>
            <p>L'ISEP c'est le top... </p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_6.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Lamine Ndao</h3>
            <h4>Développeur</h4>
            <p>Heureux...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Imam</h3>
            <h4>Développeur</h4>
            <p>Je suis bien à l'ISEP...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Aliou Seck</h3>
            <h4>Développeur</h4>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Serigne Kandji </h3>
            <h4>Développeur</h4>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Am Ndongo</h3>
            <h4>Développeur</h4>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Mor Dioum</h3>
            <h4>Développeur</h4>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_5.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Mareme Diop</h3>
            <h4>Développeur</h4>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Aida Gueye</h3>
            <h4>Développeur</h4>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Fama Diop</h3>
            <h5>Développeur</h5>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Ablaye Ndiaye</h3>
            <h5>Développeur</h5>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_1.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Amadou Ba</h3>
            <h5>Développeur</h5>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Penda Mbow</h3>
            <h4>Développeur</h4>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="clearfix visible-sm-block visible-xs-block"></div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Paté Mbengue</h3>
            <h4>Développeur</h4>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="probootstrap-teacher text-center probootstrap-animate">
          <figure class="media">
            <img src="../../assets/img/person_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive img-circle">
          </figure>
          <div class="text">
            <h3>Mamadou Diouf</h3>
            <h5>Développeur</h5>
            <p>Coding is life...</p>
            <button class="btn btn-primary" routerLink="#">Voir la suite</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
