<section class="header-text-slide" style="height: 220px; padding-top: 5px;border-top: solid lavender 3px">
  <app-entete-ministere></app-entete-ministere>
  <h3 class="text-center" style="margin-top: 0px"><strong>Institut Supérieur d'Enseignement Professionnel De Diamniadio</strong></h3>
    <!--<div style="padding-top: 0px;position: center">
      <div class="header-text-slide">
        <div class="item-1-tx"><h1 class=""></h1></div>
      </div>
    </div>-->
</section>

<!--<section style="height: 200px;">
  <div style="padding-top: 0px;position: center">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <div class="word_section" style="text-align:center;margin:0 auto">
          <span class="m1">I</span>
          <span class="m2">n</span>
          <span class="m1">s</span>
          <span class="m2">t</span>
          <span class="m1">i</span>
          <span class="m2">t</span>
          <span class="m1">u</span>
          <span class="m2">t</span>
          <span class="m2">_</span>
          <span class="m1">S</span>
          <span class="m2">u</span>
          <span class="m1">p</span>
          <span class="m2">é</span>
          <span class="m1">r</span>
          <span class="m2">i</span>
          <span class="m1">e</span>
          <span class="m2">u</span>
          <span class="m1">r</span>
          <span class="m2">_</span>
          <span class="m1">D</span>
          <span class="m1">'</span>
          <span class="m2">E</span>
          <span class="m1">n</span>
          <span class="m2">s</span>
          <span class="m1">e</span>
          <span class="m2">i</span>
          <span class="m1">g</span>
          <span class="m2">n</span>
          <span class="m1">e</span>
          <span class="m2">m</span>
          <span class="m1">e</span>
          <span class="m2">n</span>
          <span class="m1">t</span>
          <span class="m2">_</span>
          <span class="m2">P</span>
          <span class="m1">r</span>
          <span class="m2">o</span>
          <span class="m1">f</span>
          <span class="m2">e</span>
          <span class="m1">s</span>
          <span class="m2">s</span>
          <span class="m1">i</span>
          <span class="m2">o</span>
          <span class="m1">n</span>
          <span class="m2">n</span>
          <span class="m1">e</span>
          <span class="m2">l</span>
        </div>
      </div>
    </div>
  </div>
</section>
-->
