/** .word_section span{font-size:45px;font-weight:bold;}
.m1{animation:mk1 500ms linear infinite alternate;}
.m2{animation:mk2 500ms linear infinite alternate;}
.word_section{animation:mk22 700ms linear infinite alternate;}
@keyframes mk1{
  from{color:rgb(92, 184, 92);}
  to{color:rgb(51, 122, 183);}
}
@keyframes mk2{
  from{color:rgb(51, 122, 183);}
  to{color:rgb(92, 184, 92);}
}
@keyframes mk22{
  from{letter-spacing:2px;border-bottom:5px ;}
  to{letter-spacing:0px;border-bottom:5px ;}
}
@media only screen and (max-width:767px){
  .word_section span{font-size:25px;font-weight:bold;}

}
*/
