<app-header-isep></app-header-isep>
<!--END En-tete -->
<!-- Article-->
<div class="container">
  <div class="col-lg-8">
    <div id="titre">
      <h3>{{appel?.titre}}</h3>
    </div>
    <div id="auteur">

    </div>
    <div id="date" class="fixed-right">
      <span class="glyphicon icon-calendar"></span><i>{{appel?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</i>
    </div><br><br>
    <div class="card">
      <img class="card-img-top img-responsive" style="width: 60%" src="../../assets/img/appel_a_candidature.jpg" >
      <div class="card-body">
        <BR><br>
        <div id="texte" style="margin-left: 15px"></div>
        <br><br>
        <div style="margin-left: 15px">
          <div *ngIf="appel?.videos && appel?.videos.length > 1">

            <div *ngFor="let v of appel?.videos; let i = index">
              <video src="{{v?.url}}" class="card-img-top img-responsive" style="width: 100%"></video><br>
            </div>
          </div>
          <div *ngIf="appel?.documents && appel?.documents.length > 0">
            <p>Les pièces jointes de cet article:</p>
            <div *ngFor="let d of appel?.documents">
              <span class="icon-file-pdf"></span><a href="{{d?.url}}">{{d?.nom}}</a><br>
            </div>
          </div>
          <div *ngIf="appel?.images && appel?.images.length > 0">
            <div *ngFor="let i of appel?.images">
              <img src="{{i?.url}}" class="card-img-top img-responsive" style="width: 100%" alt="Card image cap"><br>
            </div>
          </div>
          <br><br>
        </div>

      </div>
    </div>
  </div>
  <app-contain-brother2></app-contain-brother2>
</div>



