<div class="col-md-4" style="margin-top: 60px; border-radius: 5px 5px 5px 5px">
  <div class="list-group" id="list-tab" role="tablist" style="background-color: #5e5e5e" data-toggle="">
    <a class="list-group-item list-group-item-action active" data-toggle="list"
       href="news" role="tab" aria-controls="home" style="background-color: #7b98a8;color: whitesmoke">
      Dernières news</a>
    <ng-container *ngFor="let a of articles | slice:0:10 ; let i=index ">
      <a class="list-group-item list-group-item-action" data-toggle="list"
         (click)="onVisualiserArticle(a)" role="tab" aria-controls="profile">{{a?.titre}}</a>
    </ng-container>
  </div>
</div>
