<!--section titre-->
<app-header-isep style="width: 100%"></app-header-isep>
<section class="ptb-0">
  <div class="mb-30 brdr-ash-1 opacty-5"></div>
  <div class="container">
    <a class="mt-10" href="accueil"><i class="mr-5 ion-ios-home"></i>Accueil<i class="mlr-10 ion-chevron-right"></i></a>
    <a class="mt-10 color-ash" href="accueil/news">News</a>
  </div><!-- container -->
</section>
<section>
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-8">

        <h4 class="p-title"><b>INFOS ISEP</b></h4>
        <div class="row" *ngIf="articles && articles.length !== 0">
          <pagination-controls class="text-center" previousLabel="Précédent" nextLabel="Suivant" id="newsmy" (pageChange)="p = $event"></pagination-controls>
          <div class="col-sm-6" *ngFor="let a of articles | paginate: {id: 'newsmy', itemsPerPage: 8, currentPage: p };">
            <img src="{{a?.images[0]?.url}}" style="height: 200px">
            <p class="pt-20" style="height: 55px;font-size: 14px; display: block;display: -webkit-box;line-height: 1.5; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;text-overflow: ellipsis; margin-bottom: 10px; text-align: justify"><a (click)="onVisualiserArticle(a)"><b>{{a?.titre}}</b></a></p>
            <ul class="list-li-mr-20 pt-10 mb-30">
              <li class="color-lite-black">Posté par: <a href="#" class="color-black"><b>L'ISEP</b></a>
                {{a?.dateCreation | date: 'dd/MM/yyyy HH:mm'}}</li>
            </ul>
          </div><!-- col-sm-6 -->

        </div><!-- row -->

      </div><!-- col-md-9 -->

      <div class="d-none d-md-block d-lg-none col-md-3"></div>
      <div class="col-md-6 col-lg-4">
        <div class="pl-20 pl-md-0">


          <div class="mtb-50">
            <h4 class="p-title"><b>ARTICLES LES PLUS LUS</b></h4>
            <a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
              <div class="wh-100x abs-tlr"><img src="{{articlesb[0]?.images[0]?.url}}" alt="" class="imbord"></div>
              <div class="ml-120 min-h-100x">
                <h5><b>{{articlesb[0]?.titre}}</b></h5>
                <h6 class="color-lite-black pt-10">Par: <span class="color-black"><b>Isep</b></span>{{articlesb[0]?.dateCreation | date: 'dd MMM, yyyy'}}</h6>
              </div>
            </a><!-- oflow-hidden -->

            <a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
              <div class="wh-100x abs-tlr"><img src="{{articlesb[1]?.images[0]?.url}}" alt="" class="imbord"></div>
              <div class="ml-120 min-h-100x">
                <h5><b>{{articlesb[1]?.titre}}</b></h5>
                <h6 class="color-lite-black pt-10">Par: <span class="color-black"><b>Isep</b></span>{{articlesb[1]?.dateCreation | date: 'dd MMM, yyyy'}}</h6>
              </div>
            </a><!-- oflow-hidden -->

            <a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
              <div class="wh-100x abs-tlr"><img src="{{articlesb[2]?.images[0]?.url}}" alt="" class="imbord"></div>
              <div class="ml-120 min-h-100x">
                <h5><b>{{articlesb[2]?.titre}}</b></h5>
                <h6 class="color-lite-black pt-10">Par: <span class="color-black"><b>Isep</b></span>{{articlesb[2]?.dateCreation | date: 'dd MMM, yyyy'}}</h6>
              </div>
            </a><!-- oflow-hidden -->

            <a class="oflow-hidden pos-relative mb-20 dplay-block" href="#">
              <div class="wh-100x abs-tlr"><img src="{{articlesb[3]?.images[0]?.url}}" alt="" class="imbord"></div>
              <div class="ml-120 min-h-100x">
                <h5 style="overflow: hidden; text-overflow: ellipsis; white-space: nowrap"><b>{{articlesb[3]?.titre}}</b></h5>
                <h6 class="color-lite-black pt-10">Par: <span class="color-black"><b>Isep</b></span>{{articlesb[0]?.dateCreation | date: 'dd MMM, yyyy'}}</h6>
              </div>
            </a><!-- oflow-hidden -->

          </div><!-- mtb-50 -->


          <div class="mtb-50 mb-md-0">
            <h4 class="p-title"><b>NEWSLETTER</b></h4>
            <p class="mb-20">Subscribe to our newsletter to get notification about new updates,
              information, discount, etc..</p>
            <form class="nwsltr-primary-1">
              <input type="text" placeholder="Your email"/>
              <button type="submit"><i class="ion-ios-paperplane"></i></button>
            </form>
          </div><!-- mtb-50 -->

        </div><!--  pl-20 -->
      </div><!-- col-md-3 -->

    </div><!-- row -->
  </div><!-- container -->
</section>



