<head>
  <style>
    .icon-spinner {
      -webkit-animation: spin 1s linear infinite; /* Safari */
      animation: spin 1s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
</head>
<app-header-ecosystemes></app-header-ecosystemes>
<section class="ptb-0">
  <div class="mb-30 brdr-ash-1 opacty-5"></div>
  <div class="container">
    <a class="mt-10" href="ecosystemes"><i class="mr-5 ion-ios-home"></i>Ecosystemes<i class="mlr-10 ion-chevron-right"></i></a>
    <a class="mt-10 color-ash" href="ecosystemes/news-ecosystemes">Blog Archive</a>
  </div><!-- container -->
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-lg-8">
        <h4 class="p-title"><b>PORTAIL ECOSYSTEMES DE L'ISEP</b></h4>
        <div class="row">
          <div *ngIf="gettingData" style="text-align: center"><p><span class="icon icon-spinner"></span> Chargement.....</p></div>
            <div class="col-sm-6" *ngFor="let a of articles | paginate: { id: 'pager1', itemsPerPage: pageSize, currentPage: pageNumber}">
              <a (click)="onVoirArt(a)">
              <img src="{{a?.images[0]?.url}}" style="max-height: 200px; max-width: 180px">
              <h4 class="pt-20"><b>{{a?.titre}}</b></h4>
              <ul class="list-li-mr-20 pt-10 mb-30">
                <li class="color-lite-black"> <span class="icon icon-pencil"></span> Par <b>AmNdongo{{a?.user?.userName}}</b><br>
                  <span class="icon icon-calendar"></span> {{a?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</li><br>
                <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>{{a?.vues}} <span class="icon icon-eye"></span></li>
              </ul>
              </a>
              <div *ngIf="editingArticle" style="text-align: center"><p><span class="icon icon-spinner"></span> Chargement.....</p></div>
            </div>
        </div><!--ICI LA PAGINATION-->
        <form class="pagination-wrapper" style="text-align: center">
          <div class="form-group pages">
            <pagination-controls class="my-pagination" id="pager1" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                                 autoHide="true" previousLabel="Précédent" nextLabel="Suivant" screenReaderPaginationLabel="Pagination"
                                 screenReaderPageLabel="page" screenReaderCurrentLabel="Vous etes sur la page">
            </pagination-controls>
          </div>
          <div class="form-group options pages">
            <div class="input-group input-group-sm row">
              <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="getArticles()" aria-describedby="basic-addon">
                <option>1</option>
                <option>5</option>
                <option>10</option>
                <option>20</option>
                <option>50</option>
                <option>100</option>
                <option>200</option>
              </select>
              <span class="input-group-addon addon-cool" id="basic-addon">Par page</span>
            </div>
          </div>
        </form><!--
        <a class="dplay-block btn-brdr-primary mt-20 mb-md-50" href="#"><b>LOAD MORE</b></a>-->
      </div><!-- col-md-9 -->
        <!--!LES PLUS LUS -->
      <div class="d-none d-md-block d-lg-none col-md-3"></div>
      <div class="col-md-6 col-lg-4">
        <div class="pl-20 pl-md-0">
          <div class="mtb-50">
            <h4 class="p-title"><b>ARTICLES LES PLUS LUS</b></h4>
            <div *ngIf="gettingData" style="text-align: center"><p><span class="icon icon-spinner"></span> Chargement.....</p></div>
            <a class="oflow-hidden pos-relative mb-20 dplay-block" (click)="onVoirArt(ar)" *ngFor="let ar of articleLesPlusLus | slice: 0:5">
              <div class="wh-100x abs-tlr"><img src="{{ar?.images[0]?.url}}" alt=""></div>
              <div class="ml-120 min-h-100x">
                <h5><b>{{ar?.titre}}</b></h5>
                <ul class="list-li-mr-20 pt-10 mb-30">
                  <li class="color-lite-black"> <span class="icon icon-pencil"></span> Par <b>AmNdongo{{a?.user?.userName}}</b><br>
                    <span class="icon icon-calendar"></span> {{ar?.dateCreation | date: 'dd/MM/yyyy à HH:mm'}}</li><br>
                  <li><i class="color-primary mr-5 font-12 ion-ios-bolt"></i>{{ar?.vues}} <span class="icon icon-eye"></span></li>
                </ul>
              </div>
            </a><!-- oflow-hidden -->
            <div *ngIf="editingArticle" style="text-align: center"><p><span class="icon icon-spinner"></span> Chargement.....</p></div>
          </div><!-- mtb-50 -->
          <div class="mtb-50 mb-md-0">
            <h4 class="p-title"><b>NEWSLETTER</b></h4>
            <p class="mb-20">Envoyez-nous un e-mail.</p>
            <form class="nwsltr-primary-1">
              <input type="text" placeholder="Votre email"/>
              <button type="submit"><i class="ion-ios-paperplane"></i></button>
            </form>
          </div><!-- mtb-50 -->
        </div><!--  pl-20 -->
      </div><!-- col-md-3 -->
    </div><!-- row -->
  </div><!-- container -->
</section>
