<div class="probootstrap-search" id="probootstrap-search" style="width:100%;margin: auto">
  <a class="probootstrap-close js-probootstrap-close"><i class="icon-cross"></i></a>
  <form action="">
    <input type="search" name="s" id="search" placeholder="Taper le mot-clé puis entrer...">
  </form>
</div>

<div class="" style=" min-width: 100%; background-image: linear-gradient(to top, white, lavender); border-bottom: solid lavender 3px">
  <!-- Fixed navbar -->
  <div class="probootstrap-header-top" style="border-bottom: black solid 1px">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 col-md-9 col-sm-9 probootstrap-top-quick-contact-info">
          <span><i class="icon-location2"></i>Diamniadio, 0046 Dakar-Sénégal</span>
          <span><i class="icon-phone2"></i>+221 33 967 15 22</span>
          <span><i class="icon-mail"></i>info@isepdd.com</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 probootstrap-top-social">
          <ul>
            <li><a href="#"><i class="icon-twitter"></i></a></li>
            <li><a href="#"><i class="icon-facebook2"></i></a></li>
            <li><a (click)="ngxSmartModalService.getModal('myModal2').open()" ><i class="icon-search"></i></a></li>
            <li><a href="https://erp.isepdiamniadio.org/login">connexion <i class="icon-lock"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar probootstrap-navbar" data-toggle="sticky-onscroll" id="myheader" style="width: 100%; background-color: transparent;z-index: 1000; margin-bottom: 0">
    <div class="container" style="width: 100%">
      <div class="navbar-header">
        <div class="btn-more js-btn-more visible-xs">
          <a href="#"><i class="icon-dots-three-vertical "></i></a>
        </div>
          <button type="button" class="icon-menu navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" aria-controls="navbar" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
        <a  href="/accueil"><img style="margin-left: 50px" src="../../assets/img/logo.png" class="img-responsive"></a>
      </div>

      <div id="navbar-collapse" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li routerLinkActive="active" class="tabm"><a href="/accueil">Accueil</a></li>
          <li routerLinkActive="active" class="dropdown tabm">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">A propos</a>
            <ul class="dropdown-menu">
              <li routerLinkActive="active"><a href="apropos/nousconnaitre">Nous connaitre</a></li>
              <li routerLinkActive="active"><a href="#">Histoire et patrimoine</a></li>
              <li routerLinkActive="active"><a href="apropos/missionsetambitions">Mission et ambitions</a></li>
              <li routerLinkActive="active"><a href="#">Organigramme</a></li>
            </ul>
          </li>
          <li routerLinkActive="active" class="dropdown tabm">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Formation</a>
            <ul class="dropdown-menu">
              <ng-container *ngFor="let d of departements">
                <li routerLinkActive="active">
                  <a href="showdepartement/{{d?.id}}" class="dropdown-toggle">{{d?.nom}}</a>
                </li>
              </ng-container>
              <li>
                <a routerLink="formation/listeadmis">Liste des admis</a>
              </li>
              <li>
                <a href="formation/certifications">Nos Certifications</a>
              </li>
            </ul>
          </li>
          <li routerLinkActive="active" class="dropdown tabm">
            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Etudiants</a>
            <ul class="dropdown-menu">
              <li routerLinkActive="active" class="tabm"><a routerLink="nosetudiants">Nos étudiants</a></li>
              <li routerLinkActive="active" class="tabm"><a routerLink="alumni">Alumni</a></li>
            </ul>
          </li>
          <li routerLinkActive="active" class="tabm">
            <a href="ecosystemes">Ecosystèmes</a>
          </li>
          <li routerLinkActive="active" class="tabm"><a href="ecosystemes/contact-us">Nous Contacter</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<ngx-smart-modal #myModal identifier="myModal2">
  <ng-container >

    <div class="container">
      <div class="row" >
        <div class="search">
          <input type="text" class="form-control input-sm" maxlength="64" placeholder="Mot Clé" [(ngModel)]="tagName"/>
          <button type="submit" class="btn btn-primary btn-sm" (click)="search(tagName)">Rechercher</button>
        </div><br><br>
      </div>
    </div>

  </ng-container>
  <ng-container>

  </ng-container>
</ngx-smart-modal>
