<header id="myheader">
  <div class="bg-191 ">
    <div class="container">
      <div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">

        <ul class="float-left float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10">
          <li><a class="pl-0 pl-sm-10" href="accueil">Accueil</a></li>
          <li><a href="apropos/nousconnaitre">A propos</a></li>
          <li><a href="news">News</a></li>
          <li><a href="ecosystemes/contact-us">Contact</a></li>
        </ul>
        <ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
          <li><a class="pl-0 pl-sm-10" href="#"><i class="ion-social-facebook"></i></a></li>
          <li><a href="#"><i class="ion-social-twitter"></i></a></li>
          <li><a href="#"><i class="ion-social-google"></i></a></li>
          <li><a href="#"><i class="ion-social-instagram"></i></a></li>
          <li><a href="#"><i class="ion-social-bitcoin"></i></a></li>
        </ul>

      </div><!-- top-menu -->
    </div><!-- container -->
  </div><!-- bg-191 -->

  <div class="container"  style="background-color:lavender; min-width: 100%">
    <a  href="/accueil" class="pull-left" style="margin-left: 50px"><img style="background: none" src="../../assets/img/logo.png"></a>

    <a class="right-area src-btn" href="#" >
      <i class="active src-icn ion-search"></i>
      <i class="close-icn ion-close"></i>
    </a>
    <div class="src-form">
      <form>
        <input type="text" placeholder="Search here">
        <button type="submit"><i class="ion-search"></i></button>
      </form>
    </div><!-- src-form -->

    <a class="menu-nav-icon" data-menu="#main-menu" href="#"><i class="icon-menu"></i></a>

    <ul class="main-menu" id="main-menu">
      <li><a href="ecosystemes">ECOSYSTEMES</a></li>
      <li><a href="ecosystemes/evenements">EVENEMENTS</a></li>
      <li><a href="ecosystemes/partenaires">PARTENAIRES</a></li>
      <li><a href="ecosystemes/contact-us">NOUS CONTACTER</a></li>
    </ul>
    <div class="clearfix"></div>
  </div><!-- container -->
</header>
ch
