<div class="flexslider column left" style="background: transparent;margin-bottom: 20px;right: 0px;left: 0px; margin-top: 20px; padding-top: 0px">
  <ul class="slides" style="background: transparent;margin-right: auto;margin-left: auto;width: 100%">
    <li class="" style="background: transparent;">
        <div class="column left1">
          <a href="home/ecosystemes/evenement/showevents/{{events[0]?.id}}"><h3 style="line-height: 1; margin-top: 0">{{events[0]?.titre}}</h3></a>
          <h4>Du {{events[0]?.dateDebut | date: 'dd MMMM à HH:mm'}} au {{events[0]?.dateFin | date: 'dd MMMM à HH:mm'}}</h4>
          <div style="height: 170px; font-size: 14px; display: block;display: -webkit-box;line-height: 1.5; -webkit-line-clamp: 8; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; margin-bottom: 10px; text-align: justify" [innerHtml]="events[0]?.corps"></div>
        </div>
        <a href="home/ecosystemes/evenement/showevents/{{events[0]?.id}}" class="column right1"><img class="img-responsive " src="{{events[0]?.mediaArticles[0]?.pk?.media?.url}}"></a>
    </li>
    <li class="" style="background: transparent;">
        <div class="column left1">
          <a href="home/ecosystemes/evenement/showevents/{{events[1]?.id}}"><h3 style="line-height: 1; margin-top: 0">{{events[1]?.titre}}</h3></a>
          <h4>Du {{events[1]?.dateDebut | date: 'dd MMMM à HH:mm'}} au {{events[1]?.dateFin | date: 'dd MMMM à HH:mm'}}</h4>
          <div style="height: 170px; font-size: 14px; display: block;display: -webkit-box;line-height: 1.5; -webkit-line-clamp: 8; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; margin-bottom: 10px; text-align: justify" [innerHtml]="events[1]?.corps"></div>
        </div>
        <a href="home/ecosystemes/evenement/showevents/{{events[1]?.id}}" class="column right1"><img class="img-responsive" src="{{events[1]?.mediaArticles[0]?.pk?.media?.url}}" style="@media screen and (max-width: 600px){width: 100%}"></a>
    </li>
    <li class="" style="background: transparent;">
      <div class="column left1">
        <a href="home/ecosystemes/evenement/showevents/{{events[2]?.id}}"><h3 style="line-height: 1; margin-top: 0">{{events[2]?.titre}}</h3></a>
        <h4>Du {{events[2]?.dateDebut | date: 'dd MMMM à HH:mm'}} au {{events[2]?.dateFin | date: 'dd MMMM à HH:mm'}}</h4>
        <div style="height: 170px; font-size: 14px; display: block;display: -webkit-box;line-height: 1.5; -webkit-line-clamp: 8; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; margin-bottom: 10px; text-align: justify" [innerHtml]="events[2]?.corps"></div>
      </div>
      <a href="home/ecosystemes/evenement/showevents/{{events[2]?.id}}" class="column right1"><img class="img-responsive" src="{{events[2]?.mediaArticles[0]?.pk?.media?.url}}" style="@media screen and (max-width: 600px){width: 100%}"></a>
    </li>
    <li class="" style="background: transparent;">
      <div class="column left1">
        <a href="home/ecosystemes/evenement/showevents/{{events[3]?.id}}"><h3 style="line-height: 1; margin-top: 0">{{events[3]?.titre}}</h3></a>
        <h4>Du {{events[3]?.dateDebut | date: 'dd MMMM à HH:mm'}} au {{events[3]?.dateFin | date: 'dd MMMM à HH:mm'}}</h4>
        <div style="height: 170px; font-size: 14px; display: block;display: -webkit-box;line-height: 1.5; -webkit-line-clamp: 8; -webkit-box-orient: vertical; text-overflow: ellipsis; overflow: hidden; margin-bottom: 10px; text-align: justify" [innerHtml]="events[3]?.corps"></div>
      </div>
      <a href="home/ecosystemes/evenement/showevents/{{events[3]?.id}}" class="column right1"><img class="img-responsive" src="{{events[3]?.mediaArticles[0]?.pk?.media?.url}}" style="@media screen and (max-width: 600px){width: 100%}"></a>
    </li>
  </ul>
</div>
