.column {
  float: left;
  margin-top: 0;
}

.left1 {
  width: 52%;
  height: 100%;
  margin: 15px;
}

.right1 {
  width: 40%;
  margin-top: 10px;
}
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    margin: 0;
  }
}
