<div class="container">
  <div class="row">
    <div class="card-group">
      <ng-container *ngFor="let a of articles | slice:0:4 ; let i=index ">
        <a (click)="onVisualiserArticle(a)">
          <div class="card col-lg-3">
            <img class="card-img-top img-responsive" src="{{a?.images[0]?.url}}" alt="Card image cap" style="height: 180px; width: 300px">
            <div class="card-body">
              <h5 class="card-title">{{a?.titre}}</h5>
            </div>
          </div>
        </a>
      </ng-container>
    </div>
  </div>
</div>
