<app-header-ecosystemes></app-header-ecosystemes>
<div style="background-image: url('../../../assets/img/back.jpg'); background-size: cover">
  <br><br>
  <h1 style="text-align: center; margin-top: 0"><strong>Evènements à venir</strong></h1>
  <br><br>
</div>
<div style="background-color: lavender">
<h6 style="margin-top: 0px; padding-top: 10px"><a href="accueil">Home</a> / <a href="ecosystemes">Ecosystèmes</a> / Evénements</h6>
<div class="container" style="margin-top: 0">

  <div class="container">
    <pagination-controls class="text-center" previousLabel="Précédent" nextLabel="Suivant" id="eventsTab" (pageChange)="p = $event"></pagination-controls>
    <ul class="timeline" *ngIf="events && events.length !== 0">
      <ng-container *ngFor="let e of events | paginate: {id: 'eventsTab', itemsPerPage: 4, currentPage: p }; let i=index">
        <ng-container *ngIf="i%2 === 0">
          <li style="padding-bottom: 2px">
            <div class="timeline-badge primary"><a><i class="glyphicon icon-record" rel="tooltip" title="11 hours ago via Twitter"></i></a></div>
            <div class="timeline-panel" style="border: #eeeeee solid 2px; background-image: linear-gradient(to top, lavender, white)">
              <div class="timeline-body">
                <a  style="margin: 0" href="home/ecosystemes/evenement/showevents/{{e?.id}}"><h4>{{e?.titre}}</h4></a>
                <p style="margin: 0; padding: 0"><i class="glyphicon icon-calendar"></i> Du {{e?.dateDebut | date: 'dd MMM'}} au {{e?.dateFin | date: 'dd MMM'}}</p>
              </div>

              <div class="timeline-heading">
                <a href="home/ecosystemes/evenement/showevents/{{e?.id}}"><img class="img-responsive" src="{{e?.images[0]?.url}}" style="max-height: 130px; width: 80%; margin: auto" /></a>

              </div>

              <a href="home/ecosystemes/evenement/showevents/{{e?.id}}" class="btn btn-primary text-center" style="margin-top: 5px;margin-bottom: 0">Voir l'évènement</a>
            </div>
          </li>

          <li  class="timeline-inverted" *ngIf="e?.nextEvent && e?.nextEvent !== null">
            <div class="timeline-badge primary"><a><i class="glyphicon icon-record" rel="tooltip" title="11 hours ago via Twitter"></i></a></div>
            <div class="timeline-panel" style="border: #eeeeee solid 2px; background-image: linear-gradient(to top, lavender, white)">
              <div class="timeline-body">
                <a style="margin: 0" href="home/ecosystemes/evenement/showevents/{{e?.nextEvent?.id}}"><h4>{{e?.nextEvent?.titre}}</h4></a>
                <p style="margin: 0; padding: 0"><i class="glyphicon icon-calendar"></i> Du {{e?.nextEvent?.dateDebut | date: 'dd MMM'}} au {{e?.nextEvent?.dateFin | date: 'dd MMM'}}</p>
              </div>
              <div class="timeline-heading">
                <a href="home/ecosystemes/evenement/showevents/{{e?.nextEvent?.id}}"><img class="img-responsive" src="{{e?.nextEvent?.images[0]?.url}}" style="max-height: 130px; width: 80%; margin: auto" /></a>

              </div>

              <a href="home/ecosystemes/evenement/showevents/{{e?.nextEvent?.id}}" class="pull-right btn btn-primary" style="margin-top: 5px;margin-bottom: 0">Voir l'évènement</a>
            </div>
          </li>
        </ng-container>
      </ng-container>
    </ul>
  </div>
</div>
</div>
<app-logos-partenaire></app-logos-partenaire>
