<div class="container">
  <h3 style="text-align: center; font-family: Harrington">NOS PARTENAIRES!</h3>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="Carousel" class="carousel slide">

        <ol class="carousel-indicators">
          <li data-target="#Carousel" data-slide-to="0" class="active"></li>
          <li data-target="#Carousel" data-slide-to="1"></li>
          <li data-target="#Carousel" data-slide-to="2"></li>
        </ol>

        <!-- Carousel items -->
        <div class="carousel-inner" *ngIf="partenaires && partenaires.length > 0">

          <div class="item active">
            <div class="row">
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[0]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[0]?.media?.url}}" alt="Image" style="height:80px;"></a></div>
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[1]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[1]?.media?.url}}" alt="Image" style="height:80px;"></a></div>
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[2]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[2]?.media?.url}}" alt="Image" style="height:80px;"></a></div>
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[3]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[3]?.media?.url}}" alt="Image" style="height:80px;"></a></div>
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[4]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[4]?.media?.url}}" alt="Image" style="height:80px;"></a></div>
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[5]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[5]?.media?.url}}" alt="Image" style="height:80px;"></a></div>
            </div><!--.row-->
          </div><!--.item-->

          <div class="item">
            <div class="row">
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[6]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[6]?.media?.url}}" alt="Image" style="max-height:80px;"></a></div>
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[7]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[7]?.media?.url}}" alt="Image" style="max-height:80px;"></a></div>
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[8]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[8]?.media?.url}}" alt="Image" style="max-height:80px;"></a></div>
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[9]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[9]?.media?.url}}" alt="Image" style="max-height:80px;"></a></div>
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[10]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[10]?.media?.url}}" alt="Image" style="max-height:80px;"></a></div>
              <div class="col-md-2 col-xs-4"><a href="{{partenaires[11]?.siteWeb}}" class="thumbnail"><img src="{{partenaires[11]?.media?.url}}" alt="Image" style="max-height:80px;"></a></div>
            </div><!--.row-->
          </div><!--.item-->



        </div>
      </div>
    </div>
  </div>
</div>
