<app-header-isep></app-header-isep>
<head>
  <style>
    .icon-spinner {
      -webkit-animation: spin 1s linear infinite; /* Safari */
      animation: spin 1s linear infinite;
    }

    /* Safari */
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
  </style>
</head>
<body>


<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form" [formGroup]="formMessage">
				<span class="contact100-form-title">
					Candidature
				</span>

      <label class="label-input100" for="first-name">Renseignez votre nom *</label>
      <div class="wrap-input100 rs1-wrap-input100 validate-input" data-validate="Type first name">
        <input id="first-name" class="input100" type="text" name="first-name" placeholder="Prénom" [(ngModel)]="m.nameEmetteur" formControlName="nameEmetteur">
        <span class="focus-input100"></span>
      </div>
      <div class="wrap-input100 rs2-wrap-input100 validate-input" data-validate="Type last name">
        <input class="input100" type="text" name="last-name" placeholder="Nom">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="email">Entrer votre email *</label>
      <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input id="email" class="input100" type="text" name="email" placeholder="Eg. example@email.com" [(ngModel)]="m.emailEmetteur" formControlName="emailEmetteur">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="phone"> Entrez votre numéro de téléphone</label>
      <div class="wrap-input100">
        <input id="phone" class="input100" type="text" name="phone" placeholder="Eg. 777777777" [(ngModel)]="m.phoneEmetteur" formControlName="phoneEmetteur">
        <span class="focus-input100"></span>
      </div>

      <label class="label-input100" for="phone">Objet</label>
      <div class="wrap-input100">
        <select name="carlist" class="input100"  [(ngModel)]="m.objet" formControlName="objet">
      <option *ngFor="let a of appelsDoffres" [ngValue]="a?.titre">{{a?.titre}}</option>
    </select>
      <span class="focus-input100"></span>
  </div>

      <label class="label-input100" for="message">Message *</label>
      <div class="wrap-input100 validate-input" data-validate = "Message is required">
        <textarea id="message" class="input100" name="message" placeholder="Ecrivez votre message" [(ngModel)]="m.corps" formControlName="corps"></textarea>
        <span class="focus-input100"></span>
      </div>


      <label class="label-input100" for="message">Les pièces-jointes *</label>
      <div class="wrap-input100 validate-input" data-validate = "Message is required">
      <div class="form-group">
        <label for="pj" class="btn btn-primary">Choiir des fichiers</label>
        <input id="pj" style="display:none;" type="file" ng2FileSelect [uploader]="uploader" accept="   .doc, .docx, .pdf, .ppt"  multiple (onFileSelected)="fileDropped($event)" />
      </div>
      </div>
      <div *ngIf="medias && medias.length > 0">

        <div *ngFor="let m of medias; let i = index">
          <i class="icon-file-pdf"></i><span>{{i + 1}}. {{m?.nom}}</span><br>
        </div>
      </div>
      <div>
        <br><br>
      <p class="col-md-12"><span class="wpcf7-form-control-wrap acceptance-319"><span class="wpcf7-form-control wpcf7-acceptance"><span class="wpcf7-list-item"><label><input type="checkbox" name="acceptance-319" value="1" aria-invalid="false" /><span class="wpcf7-list-item-label">Nous vous informons que les données à caractère personnel reçues seront traitées dans le respect des dispositions de loi n° 2008-12 du 25 janvier 2018 relatif à la protection des données à caractère personnel. Pour plus d'informations, s'il vous plaît consulter notre <a class="lien_privacy">Politique de confidentialité</a></span></label></span></span></span></p>
      </div>


      <div class="container-contact100-form-btn">
        <button class="contact100-form-btn" type="submit" (click)="onSubmit()"
                [disabled]="!formMessage.valid || submitting"><i class="icon-paper-plane" *ngIf="!submitting">Envoyer Message</i>
          <span *ngIf="submitting"><span class="icon icon-spinner" role="status" aria-hidden="true"></span>
                 En cours d'envoi...</span>
        </button>
      </div>
    </form>

    <div class="contact100-more flex-col-c-m" style="background-image: url('../../assets/img/Candidature.jpg');">
      <div class="flex-w size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-map-marker"></span>
        </div>

        <div class="flex-col size2">
						<span class="txt1 p-b-20">
							Address
						</span>

          <span class="txt2">
							Mada Center 8th floor, 379 Hudson St, New York, NY 10018 US
						</span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-phone-handset"></span>
        </div>

        <div class="flex-col size2">
						<span class="txt1 p-b-20">
							Lets Talk
						</span>

          <span class="txt3">
							+1 800 1236879
						</span>
        </div>
      </div>

      <div class="dis-flex size1 p-b-47">
        <div class="txt1 p-r-25">
          <span class="lnr lnr-envelope"></span>
        </div>

        <div class="flex-col size2">
						<span class="txt1 p-b-20">
							General Support
						</span>

          <span class="txt3">
							contact@example.com
						</span>
        </div>
      </div>
    </div>
  </div>
</div>



</body>
