<body >
<app-header-ecosystemes></app-header-ecosystemes>
<h6><a href="accueil">Home</a> / <a href="ecosystemes">Ecosystèmes</a> / Partenaires</h6>
<h1 style="text-align: center; font-family: Harrington">Nos partenaires</h1>
<section class="probootstrap-section">
  <div class="container">


    <div class="row" *ngIf="partenaires && partenaires.length !== 0">
      <div class="col-md-3 col-sm-6" *ngFor="let p of partenaires">
        <div class="probootstrap-teacher text-center">
          <figure class="media">
            <a href="home/ecosystemes/partenaires/showpartenaire/{{p?.id}}"><img src="{{p?.media.url}}" class="img-responsive" style="height: 70px"></a>
          </figure>
          <div class="text">
            <h3>{{p?.nom}}</h3>
            <a href="http://{{p?.siteWeb}}"><p>{{p?.siteWeb}}</p></a>
            <ul class="probootstrap-footer-social">
              <li class="twitter"><a href="#"><i class="icon-twitter"></i></a></li>
              <li class="facebook"><a href="#"><i class="icon-facebook2"></i></a></li>
              <li class="instagram"><a href="#"><i class="icon-instagram2"></i></a></li>
              <li class="google-plus"><a href="#"><i class="icon-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>
</body>
