<body>
<div id="login">
  <h3 class="text-center text-white pt-5" style="color:#120400;">Login form</h3>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-8">
        <div class="login-box col-md-12">
          <form id="login-form" class="form" action="" method="post">
            <h3 class="text-center text-info" style="color:#120400;">Login ADMIN</h3>
            <div class="form-group">
              <label for="username" class="text-info" style="color:#120400;">Username:</label><br>
              <input type="text" name="username" id="username" class="form-control">
            </div>
            <div class="form-group">
              <label for="password" class="text-info" style="color:#120400;">Password:</label><br>
              <input type="text" name="password" id="password" class="form-control">
            </div>
            <div class="form-group">
              <label for="remember-me" class="text-info" style="color:#120400;"><span>
                <input id="remember-me" name="remember-me" type="checkbox">
              </span>
                <span>Se souvenir de moi</span></label><br>
              <input type="submit" name="submit" class="btn btn-info btn-md" value="Valider" style="color:#fff;background-color: #120400">
            </div>
            <div id="register-link" class="text-right">
              <a href="#" class="text-info" style="color:#120400;">Register here</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
