body {
 /* background-image: linear-gradient(to left top, #120400, #120400, #120400, #120400, #120400);*/
  height: 100vh;
}
#login .container #login-row #login-column .login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid  #D2AF77;
  background-image: linear-gradient(to bottom,  #D2AF77,  #D2AF77,  #D2AF77,  #D2AF77,  #D2AF77);
}
#login .container #login-row #login-column .login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column .login-box #login-form #register-link {
  margin-top: -85px;
}
